/**
 * PTV Timetable API - Version 3
 * The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  
 *
 * OpenAPI spec version: v3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.V3DeparturesResponse
import io.swagger.client.models.V3ErrorResponse

import io.swagger.client.infrastructure.*

class DeparturesApi(basePath: kotlin.String = "https://timetableapi.ptv.vic.gov.au/") : ApiClient(basePath) {

    /**
     * View departures for all routes from a stop
     * 
     * @param routeType Number identifying transport mode; values returned via RouteTypes API 
     * @param stopId Identifier of stop; values returned by Stops API 
     * @param platformNumbers Filter by platform number at stop (optional)
     * @param directionId Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id} (optional)
     * @param gtfs Indicates that stop_id parameter will accept \&quot;GTFS stop_id\&quot; data (optional)
     * @param dateUtc Filter by the date and time of the request (ISO 8601 UTC format) (default &#x3D; current date and time) (optional)
     * @param maxResults Maximum number of results returned (optional)
     * @param includeCancelled Indicates if cancelled services (if they exist) are returned (default &#x3D; false) - metropolitan train only (optional)
     * @param lookBackwards Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default &#x3D; false). Requires max_results &amp;gt; 0. (optional)
     * @param expand List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor or None.  Run must be expanded to receive VehiclePosition and VehicleDescriptor information. (optional)
     * @param includeGeopath Indicates if the route geopath should be returned (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DeparturesResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun departuresGetForStop(routeType: kotlin.Int, stopId: kotlin.Int, platformNumbers: kotlin.Array<kotlin.Int>? = null, directionId: kotlin.Int? = null, gtfs: kotlin.Boolean? = null, dateUtc: java.time.LocalDateTime? = null, maxResults: kotlin.Int? = null, includeCancelled: kotlin.Boolean? = null, lookBackwards: kotlin.Boolean? = null, expand: kotlin.Array<kotlin.String>? = null, includeGeopath: kotlin.Boolean? = null, token: kotlin.String? = null, devid: kotlin.String? = null, signature: kotlin.String? = null): V3DeparturesResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (platformNumbers != null) {
                put("platform_numbers", toMultiValue(platformNumbers.toList(), "multi"))
            }
            if (directionId != null) {
                put("direction_id", listOf(directionId.toString()))
            }
            if (gtfs != null) {
                put("gtfs", listOf(gtfs.toString()))
            }
            if (dateUtc != null) {
                put("date_utc", listOf(parseDateToQueryString(dateUtc)))
            }
            if (maxResults != null) {
                put("max_results", listOf(maxResults.toString()))
            }
            if (includeCancelled != null) {
                put("include_cancelled", listOf(includeCancelled.toString()))
            }
            if (lookBackwards != null) {
                put("look_backwards", listOf(lookBackwards.toString()))
            }
            if (expand != null) {
                put("expand", toMultiValue(expand.toList(), "multi"))
            }
            if (includeGeopath != null) {
                put("include_geopath", listOf(includeGeopath.toString()))
            }
            if (token != null) {
                put("token", listOf(token.toString()))
            }
            if (devid != null) {
                put("devid", listOf(devid.toString()))
            }
            if (signature != null) {
                put("signature", listOf(signature.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/v3/departures/route_type/{route_type}/stop/{stop_id}".replace("{" + "route_type" + "}", "$routeType").replace("{" + "stop_id" + "}", "$stopId"), query = localVariableQuery
        )
        val response = request<V3DeparturesResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as V3DeparturesResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * View departures for a specific route from a stop
     * 
     * @param routeType Number identifying transport mode; values returned via RouteTypes API 
     * @param stopId Identifier of stop; values returned by Stops API 
     * @param routeId Identifier of route; values returned by Routes API - v3/routes 
     * @param directionId Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id} (optional)
     * @param gtfs Indicates that stop_id parameter will accept \&quot;GTFS stop_id\&quot; data (optional)
     * @param dateUtc Filter by the date and time of the request (ISO 8601 UTC format) (default &#x3D; current date and time) (optional)
     * @param maxResults Maximum number of results returned (optional)
     * @param includeCancelled Indicates if cancelled services (if they exist) are returned (default &#x3D; false) - metropolitan train only (optional)
     * @param lookBackwards Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default &#x3D; false). Requires max_results &amp;gt; 0. (optional)
     * @param expand List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor or None.  Run must be expanded to receive VehiclePosition and VehicleDescriptor information. (optional)
     * @param includeGeopath Indicates if the route geopath should be returned (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DeparturesResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun departuresGetForStopAndRoute(routeType: kotlin.Int, stopId: kotlin.Int, routeId: kotlin.String, directionId: kotlin.Int? = null, gtfs: kotlin.Boolean? = null, dateUtc: java.time.LocalDateTime? = null, maxResults: kotlin.Int? = null, includeCancelled: kotlin.Boolean? = null, lookBackwards: kotlin.Boolean? = null, expand: kotlin.Array<kotlin.String>? = null, includeGeopath: kotlin.Boolean? = null, token: kotlin.String? = null, devid: kotlin.String? = null, signature: kotlin.String? = null): V3DeparturesResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (directionId != null) {
                put("direction_id", listOf(directionId.toString()))
            }
            if (gtfs != null) {
                put("gtfs", listOf(gtfs.toString()))
            }
            if (dateUtc != null) {
                put("date_utc", listOf(parseDateToQueryString(dateUtc)))
            }
            if (maxResults != null) {
                put("max_results", listOf(maxResults.toString()))
            }
            if (includeCancelled != null) {
                put("include_cancelled", listOf(includeCancelled.toString()))
            }
            if (lookBackwards != null) {
                put("look_backwards", listOf(lookBackwards.toString()))
            }
            if (expand != null) {
                put("expand", toMultiValue(expand.toList(), "multi"))
            }
            if (includeGeopath != null) {
                put("include_geopath", listOf(includeGeopath.toString()))
            }
            if (token != null) {
                put("token", listOf(token.toString()))
            }
            if (devid != null) {
                put("devid", listOf(devid.toString()))
            }
            if (signature != null) {
                put("signature", listOf(signature.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/v3/departures/route_type/{route_type}/stop/{stop_id}/route/{route_id}".replace("{" + "route_type" + "}", "$routeType").replace("{" + "stop_id" + "}", "$stopId").replace("{" + "route_id" + "}", "$routeId"), query = localVariableQuery
        )
        val response = request<V3DeparturesResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as V3DeparturesResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
