/**
 * PTV Timetable API - Version 3
 * The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  
 *
 * OpenAPI spec version: v3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.V3DisruptionModesResponse
import io.swagger.client.models.V3DisruptionResponse
import io.swagger.client.models.V3DisruptionsResponse
import io.swagger.client.models.V3ErrorResponse

import io.swagger.client.infrastructure.*

class DisruptionsApi(basePath: kotlin.String = "https://timetableapi.ptv.vic.gov.au/") : ApiClient(basePath) {

    /**
     * View all disruptions for all route types
     * 
     * @param routeTypes Filter by route_type; values returned via RouteTypes API (optional)
     * @param disruptionModes Filter by disruption_mode; values returned via v3/disruptions/modes API (optional)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionsResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun disruptionsGetAllDisruptions(routeTypes: kotlin.Array<kotlin.Int>? = null, disruptionModes: kotlin.Array<kotlin.Int>? = null, disruptionStatus: kotlin.String? = null, token: kotlin.String? = null, devid: kotlin.String? = null, signature: kotlin.String? = null): V3DisruptionsResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (routeTypes != null) {
                put("route_types", toMultiValue(routeTypes.toList(), "multi"))
            }
            if (disruptionModes != null) {
                put("disruption_modes", toMultiValue(disruptionModes.toList(), "multi"))
            }
            if (disruptionStatus != null) {
                put("disruption_status", listOf(disruptionStatus.toString()))
            }
            if (token != null) {
                put("token", listOf(token.toString()))
            }
            if (devid != null) {
                put("devid", listOf(devid.toString()))
            }
            if (signature != null) {
                put("signature", listOf(signature.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/v3/disruptions", query = localVariableQuery
        )
        val response = request<V3DisruptionsResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as V3DisruptionsResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * View a specific disruption
     * 
     * @param disruptionId Identifier of disruption; values returned by Disruptions API - /v3/disruptions OR /v3/disruptions/route/{route_id} 
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun disruptionsGetDisruptionById(disruptionId: kotlin.Long, token: kotlin.String? = null, devid: kotlin.String? = null, signature: kotlin.String? = null): V3DisruptionResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (token != null) {
                put("token", listOf(token.toString()))
            }
            if (devid != null) {
                put("devid", listOf(devid.toString()))
            }
            if (signature != null) {
                put("signature", listOf(signature.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/v3/disruptions/{disruption_id}".replace("{" + "disruption_id" + "}", "$disruptionId"), query = localVariableQuery
        )
        val response = request<V3DisruptionResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as V3DisruptionResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * Get all disruption modes
     * 
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionModesResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun disruptionsGetDisruptionModes(token: kotlin.String? = null, devid: kotlin.String? = null, signature: kotlin.String? = null): V3DisruptionModesResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (token != null) {
                put("token", listOf(token.toString()))
            }
            if (devid != null) {
                put("devid", listOf(devid.toString()))
            }
            if (signature != null) {
                put("signature", listOf(signature.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/v3/disruptions/modes", query = localVariableQuery
        )
        val response = request<V3DisruptionModesResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as V3DisruptionModesResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * View all disruptions for a particular route
     * 
     * @param routeId Identifier of route; values returned by Routes API - v3/routes 
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionsResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun disruptionsGetDisruptionsByRoute(routeId: kotlin.Int, disruptionStatus: kotlin.String? = null, token: kotlin.String? = null, devid: kotlin.String? = null, signature: kotlin.String? = null): V3DisruptionsResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (disruptionStatus != null) {
                put("disruption_status", listOf(disruptionStatus.toString()))
            }
            if (token != null) {
                put("token", listOf(token.toString()))
            }
            if (devid != null) {
                put("devid", listOf(devid.toString()))
            }
            if (signature != null) {
                put("signature", listOf(signature.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/v3/disruptions/route/{route_id}".replace("{" + "route_id" + "}", "$routeId"), query = localVariableQuery
        )
        val response = request<V3DisruptionsResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as V3DisruptionsResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * View all disruptions for a particular route and stop
     * 
     * @param routeId Identifier of route; values returned by Routes API - v3/routes 
     * @param stopId Identifier of stop; values returned by Stops API - v3/stops 
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionsResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun disruptionsGetDisruptionsByRouteAndStop(routeId: kotlin.Int, stopId: kotlin.Int, disruptionStatus: kotlin.String? = null, token: kotlin.String? = null, devid: kotlin.String? = null, signature: kotlin.String? = null): V3DisruptionsResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (disruptionStatus != null) {
                put("disruption_status", listOf(disruptionStatus.toString()))
            }
            if (token != null) {
                put("token", listOf(token.toString()))
            }
            if (devid != null) {
                put("devid", listOf(devid.toString()))
            }
            if (signature != null) {
                put("signature", listOf(signature.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/v3/disruptions/route/{route_id}/stop/{stop_id}".replace("{" + "route_id" + "}", "$routeId").replace("{" + "stop_id" + "}", "$stopId"), query = localVariableQuery
        )
        val response = request<V3DisruptionsResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as V3DisruptionsResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
    /**
     * View all disruptions for a particular stop
     * 
     * @param stopId Identifier of stop; values returned by Stops API - v3/stops 
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionsResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun disruptionsGetDisruptionsByStop(stopId: kotlin.Int, disruptionStatus: kotlin.String? = null, token: kotlin.String? = null, devid: kotlin.String? = null, signature: kotlin.String? = null): V3DisruptionsResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (disruptionStatus != null) {
                put("disruption_status", listOf(disruptionStatus.toString()))
            }
            if (token != null) {
                put("token", listOf(token.toString()))
            }
            if (devid != null) {
                put("devid", listOf(devid.toString()))
            }
            if (signature != null) {
                put("signature", listOf(signature.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/v3/disruptions/stop/{stop_id}".replace("{" + "stop_id" + "}", "$stopId"), query = localVariableQuery
        )
        val response = request<V3DisruptionsResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as V3DisruptionsResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
