/**
 * PTV Timetable API - Version 3
 * The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  
 *
 * OpenAPI spec version: v3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */
package io.swagger.client.apis

import io.swagger.client.models.V3ErrorResponse
import io.swagger.client.models.V3FareEstimateResponse

import io.swagger.client.infrastructure.*

class FareEstimateApi(basePath: kotlin.String = "https://timetableapi.ptv.vic.gov.au/") : ApiClient(basePath) {

    /**
     * Estimate a fare by zone
     * 
     * @param minZone Minimum Zone travelled through ie. 1 
     * @param maxZone Maximum Zone travelled through id. 6 
     * @param journeyTouchOnUtc JourneyTouchOnUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53). (optional)
     * @param journeyTouchOffUtc JourneyTouchOffUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53). (optional)
     * @param isJourneyInFreeTramZone  (optional)
     * @param travelledRouteTypes  (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3FareEstimateResponse
     */
    @Suppress("UNCHECKED_CAST")
    fun fareEstimateGetFareEstimateByZone(minZone: kotlin.Int, maxZone: kotlin.Int, journeyTouchOnUtc: java.time.LocalDateTime? = null, journeyTouchOffUtc: java.time.LocalDateTime? = null, isJourneyInFreeTramZone: kotlin.Boolean? = null, travelledRouteTypes: kotlin.Array<kotlin.Int>? = null, token: kotlin.String? = null, devid: kotlin.String? = null, signature: kotlin.String? = null): V3FareEstimateResponse {
        val localVariableQuery: MultiValueMap = mutableMapOf<kotlin.String, kotlin.collections.List<kotlin.String>>().apply {
            if (journeyTouchOnUtc != null) {
                put("journey_touch_on_utc", listOf(parseDateToQueryString(journeyTouchOnUtc)))
            }
            if (journeyTouchOffUtc != null) {
                put("journey_touch_off_utc", listOf(parseDateToQueryString(journeyTouchOffUtc)))
            }
            if (isJourneyInFreeTramZone != null) {
                put("is_journey_in_free_tram_zone", listOf(isJourneyInFreeTramZone.toString()))
            }
            if (travelledRouteTypes != null) {
                put("travelled_route_types", toMultiValue(travelledRouteTypes.toList(), "multi"))
            }
            if (token != null) {
                put("token", listOf(token.toString()))
            }
            if (devid != null) {
                put("devid", listOf(devid.toString()))
            }
            if (signature != null) {
                put("signature", listOf(signature.toString()))
            }
        }
        val localVariableConfig = RequestConfig(
                RequestMethod.GET,
                "/v3/fare_estimate/min_zone/{minZone}/max_zone/{maxZone}".replace("{" + "minZone" + "}", "$minZone").replace("{" + "maxZone" + "}", "$maxZone"), query = localVariableQuery
        )
        val response = request<V3FareEstimateResponse>(
                localVariableConfig
        )

        return when (response.responseType) {
            ResponseType.Success -> (response as Success<*>).data as V3FareEstimateResponse
            ResponseType.Informational -> TODO()
            ResponseType.Redirection -> TODO()
            ResponseType.ClientError -> throw ClientException((response as ClientError<*>).body as? String ?: "Client error")
            ResponseType.ServerError -> throw ServerException((response as ServerError<*>).message ?: "Server error")
        }
    }
}
