=begin
#PTV Timetable API - Version 3

#The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.52
=end

module SwaggerClient
  class DeparturesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # View departures for all routes from a stop
    # @param route_type Number identifying transport mode; values returned via RouteTypes API
    # @param stop_id Identifier of stop; values returned by Stops API
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :platform_numbers Filter by platform number at stop
    # @option opts [Integer] :direction_id Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}
    # @option opts [BOOLEAN] :gtfs Indicates that stop_id parameter will accept \&quot;GTFS stop_id\&quot; data
    # @option opts [DateTime] :date_utc Filter by the date and time of the request (ISO 8601 UTC format) (default &#x3D; current date and time)
    # @option opts [Integer] :max_results Maximum number of results returned
    # @option opts [BOOLEAN] :include_cancelled Indicates if cancelled services (if they exist) are returned (default &#x3D; false) - metropolitan train only
    # @option opts [BOOLEAN] :look_backwards Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default &#x3D; false). Requires max_results &amp;gt; 0.
    # @option opts [Array<String>] :expand List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor or None.  Run must be expanded to receive VehiclePosition and VehicleDescriptor information.
    # @option opts [BOOLEAN] :include_geopath Indicates if the route geopath should be returned
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3DeparturesResponse]
    def departures_get_for_stop(route_type, stop_id, opts = {})
      data, _status_code, _headers = departures_get_for_stop_with_http_info(route_type, stop_id, opts)
      data
    end

    # View departures for all routes from a stop
    # @param route_type Number identifying transport mode; values returned via RouteTypes API
    # @param stop_id Identifier of stop; values returned by Stops API
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :platform_numbers Filter by platform number at stop
    # @option opts [Integer] :direction_id Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}
    # @option opts [BOOLEAN] :gtfs Indicates that stop_id parameter will accept \&quot;GTFS stop_id\&quot; data
    # @option opts [DateTime] :date_utc Filter by the date and time of the request (ISO 8601 UTC format) (default &#x3D; current date and time)
    # @option opts [Integer] :max_results Maximum number of results returned
    # @option opts [BOOLEAN] :include_cancelled Indicates if cancelled services (if they exist) are returned (default &#x3D; false) - metropolitan train only
    # @option opts [BOOLEAN] :look_backwards Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default &#x3D; false). Requires max_results &amp;gt; 0.
    # @option opts [Array<String>] :expand List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor or None.  Run must be expanded to receive VehiclePosition and VehicleDescriptor information.
    # @option opts [BOOLEAN] :include_geopath Indicates if the route geopath should be returned
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3DeparturesResponse, Integer, Hash)>] V3DeparturesResponse data, response status code and response headers
    def departures_get_for_stop_with_http_info(route_type, stop_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeparturesApi.departures_get_for_stop ...'
      end
      # verify the required parameter 'route_type' is set
      if @api_client.config.client_side_validation && route_type.nil?
        fail ArgumentError, "Missing the required parameter 'route_type' when calling DeparturesApi.departures_get_for_stop"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['0', '1', '2', '3', '4'].include?(route_type)
        fail ArgumentError, "invalid value for 'route_type', must be one of 0, 1, 2, 3, 4"
      end
      # verify the required parameter 'stop_id' is set
      if @api_client.config.client_side_validation && stop_id.nil?
        fail ArgumentError, "Missing the required parameter 'stop_id' when calling DeparturesApi.departures_get_for_stop"
      end
      if @api_client.config.client_side_validation && opts[:'expand'] && !opts[:'expand'].all? { |item| ['All', 'Stop', 'Route', 'Run', 'Direction', 'Disruption', 'VehicleDescriptor', 'VehiclePosition', 'None'].include?(item) }
        fail ArgumentError, 'invalid value for "expand", must include one of All, Stop, Route, Run, Direction, Disruption, VehicleDescriptor, VehiclePosition, None'
      end
      # resource path
      local_var_path = '/v3/departures/route_type/{route_type}/stop/{stop_id}'.sub('{' + 'route_type' + '}', route_type.to_s).sub('{' + 'stop_id' + '}', stop_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'platform_numbers'] = @api_client.build_collection_param(opts[:'platform_numbers'], :multi) if !opts[:'platform_numbers'].nil?
      query_params[:'direction_id'] = opts[:'direction_id'] if !opts[:'direction_id'].nil?
      query_params[:'gtfs'] = opts[:'gtfs'] if !opts[:'gtfs'].nil?
      query_params[:'date_utc'] = opts[:'date_utc'] if !opts[:'date_utc'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?
      query_params[:'include_cancelled'] = opts[:'include_cancelled'] if !opts[:'include_cancelled'].nil?
      query_params[:'look_backwards'] = opts[:'look_backwards'] if !opts[:'look_backwards'].nil?
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?
      query_params[:'include_geopath'] = opts[:'include_geopath'] if !opts[:'include_geopath'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3DeparturesResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeparturesApi#departures_get_for_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # View departures for a specific route from a stop
    # @param route_type Number identifying transport mode; values returned via RouteTypes API
    # @param stop_id Identifier of stop; values returned by Stops API
    # @param route_id Identifier of route; values returned by Routes API - v3/routes
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :direction_id Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}
    # @option opts [BOOLEAN] :gtfs Indicates that stop_id parameter will accept \&quot;GTFS stop_id\&quot; data
    # @option opts [DateTime] :date_utc Filter by the date and time of the request (ISO 8601 UTC format) (default &#x3D; current date and time)
    # @option opts [Integer] :max_results Maximum number of results returned
    # @option opts [BOOLEAN] :include_cancelled Indicates if cancelled services (if they exist) are returned (default &#x3D; false) - metropolitan train only
    # @option opts [BOOLEAN] :look_backwards Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default &#x3D; false). Requires max_results &amp;gt; 0.
    # @option opts [Array<String>] :expand List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor or None.  Run must be expanded to receive VehiclePosition and VehicleDescriptor information.
    # @option opts [BOOLEAN] :include_geopath Indicates if the route geopath should be returned
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3DeparturesResponse]
    def departures_get_for_stop_and_route(route_type, stop_id, route_id, opts = {})
      data, _status_code, _headers = departures_get_for_stop_and_route_with_http_info(route_type, stop_id, route_id, opts)
      data
    end

    # View departures for a specific route from a stop
    # @param route_type Number identifying transport mode; values returned via RouteTypes API
    # @param stop_id Identifier of stop; values returned by Stops API
    # @param route_id Identifier of route; values returned by Routes API - v3/routes
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :direction_id Filter by identifier of direction of travel; values returned by Directions API - /v3/directions/route/{route_id}
    # @option opts [BOOLEAN] :gtfs Indicates that stop_id parameter will accept \&quot;GTFS stop_id\&quot; data
    # @option opts [DateTime] :date_utc Filter by the date and time of the request (ISO 8601 UTC format) (default &#x3D; current date and time)
    # @option opts [Integer] :max_results Maximum number of results returned
    # @option opts [BOOLEAN] :include_cancelled Indicates if cancelled services (if they exist) are returned (default &#x3D; false) - metropolitan train only
    # @option opts [BOOLEAN] :look_backwards Indicates if filtering runs (and their departures) to those that arrive at destination before date_utc (default &#x3D; false). Requires max_results &amp;gt; 0.
    # @option opts [Array<String>] :expand List of objects to be returned in full (i.e. expanded) - options include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition, VehicleDescriptor or None.  Run must be expanded to receive VehiclePosition and VehicleDescriptor information.
    # @option opts [BOOLEAN] :include_geopath Indicates if the route geopath should be returned
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3DeparturesResponse, Integer, Hash)>] V3DeparturesResponse data, response status code and response headers
    def departures_get_for_stop_and_route_with_http_info(route_type, stop_id, route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DeparturesApi.departures_get_for_stop_and_route ...'
      end
      # verify the required parameter 'route_type' is set
      if @api_client.config.client_side_validation && route_type.nil?
        fail ArgumentError, "Missing the required parameter 'route_type' when calling DeparturesApi.departures_get_for_stop_and_route"
      end
      # verify enum value
      if @api_client.config.client_side_validation && !['0', '1', '2', '3', '4'].include?(route_type)
        fail ArgumentError, "invalid value for 'route_type', must be one of 0, 1, 2, 3, 4"
      end
      # verify the required parameter 'stop_id' is set
      if @api_client.config.client_side_validation && stop_id.nil?
        fail ArgumentError, "Missing the required parameter 'stop_id' when calling DeparturesApi.departures_get_for_stop_and_route"
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling DeparturesApi.departures_get_for_stop_and_route"
      end
      if @api_client.config.client_side_validation && opts[:'expand'] && !opts[:'expand'].all? { |item| ['All', 'Stop', 'Route', 'Run', 'Direction', 'Disruption', 'VehicleDescriptor', 'VehiclePosition', 'None'].include?(item) }
        fail ArgumentError, 'invalid value for "expand", must include one of All, Stop, Route, Run, Direction, Disruption, VehicleDescriptor, VehiclePosition, None'
      end
      # resource path
      local_var_path = '/v3/departures/route_type/{route_type}/stop/{stop_id}/route/{route_id}'.sub('{' + 'route_type' + '}', route_type.to_s).sub('{' + 'stop_id' + '}', stop_id.to_s).sub('{' + 'route_id' + '}', route_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'direction_id'] = opts[:'direction_id'] if !opts[:'direction_id'].nil?
      query_params[:'gtfs'] = opts[:'gtfs'] if !opts[:'gtfs'].nil?
      query_params[:'date_utc'] = opts[:'date_utc'] if !opts[:'date_utc'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?
      query_params[:'include_cancelled'] = opts[:'include_cancelled'] if !opts[:'include_cancelled'].nil?
      query_params[:'look_backwards'] = opts[:'look_backwards'] if !opts[:'look_backwards'].nil?
      query_params[:'expand'] = @api_client.build_collection_param(opts[:'expand'], :multi) if !opts[:'expand'].nil?
      query_params[:'include_geopath'] = opts[:'include_geopath'] if !opts[:'include_geopath'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3DeparturesResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DeparturesApi#departures_get_for_stop_and_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
