=begin
#PTV Timetable API - Version 3

#The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.52
=end

module SwaggerClient
  class DisruptionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # View all disruptions for all route types
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :route_types Filter by route_type; values returned via RouteTypes API
    # @option opts [Array<Integer>] :disruption_modes Filter by disruption_mode; values returned via v3/disruptions/modes API
    # @option opts [String] :disruption_status Filter by status of disruption
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3DisruptionsResponse]
    def disruptions_get_all_disruptions(opts = {})
      data, _status_code, _headers = disruptions_get_all_disruptions_with_http_info(opts)
      data
    end

    # View all disruptions for all route types
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :route_types Filter by route_type; values returned via RouteTypes API
    # @option opts [Array<Integer>] :disruption_modes Filter by disruption_mode; values returned via v3/disruptions/modes API
    # @option opts [String] :disruption_status Filter by status of disruption
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3DisruptionsResponse, Integer, Hash)>] V3DisruptionsResponse data, response status code and response headers
    def disruptions_get_all_disruptions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisruptionsApi.disruptions_get_all_disruptions ...'
      end
      if @api_client.config.client_side_validation && opts[:'route_types'] && !opts[:'route_types'].all? { |item| ['0', '1', '2', '3', '4'].include?(item) }
        fail ArgumentError, 'invalid value for "route_types", must include one of 0, 1, 2, 3, 4'
      end
      if @api_client.config.client_side_validation && opts[:'disruption_modes'] && !opts[:'disruption_modes'].all? { |item| ['1', '2', '3', '4', '5', '7', '8', '9', '10', '11', '12', '13', '14', '100'].include?(item) }
        fail ArgumentError, 'invalid value for "disruption_modes", must include one of 1, 2, 3, 4, 5, 7, 8, 9, 10, 11, 12, 13, 14, 100'
      end
      if @api_client.config.client_side_validation && opts[:'disruption_status'] && !['current', 'planned'].include?(opts[:'disruption_status'])
        fail ArgumentError, 'invalid value for "disruption_status", must be one of current, planned'
      end
      # resource path
      local_var_path = '/v3/disruptions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'route_types'] = @api_client.build_collection_param(opts[:'route_types'], :multi) if !opts[:'route_types'].nil?
      query_params[:'disruption_modes'] = @api_client.build_collection_param(opts[:'disruption_modes'], :multi) if !opts[:'disruption_modes'].nil?
      query_params[:'disruption_status'] = opts[:'disruption_status'] if !opts[:'disruption_status'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3DisruptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisruptionsApi#disruptions_get_all_disruptions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # View a specific disruption
    # @param disruption_id Identifier of disruption; values returned by Disruptions API - /v3/disruptions OR /v3/disruptions/route/{route_id}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3DisruptionResponse]
    def disruptions_get_disruption_by_id(disruption_id, opts = {})
      data, _status_code, _headers = disruptions_get_disruption_by_id_with_http_info(disruption_id, opts)
      data
    end

    # View a specific disruption
    # @param disruption_id Identifier of disruption; values returned by Disruptions API - /v3/disruptions OR /v3/disruptions/route/{route_id}
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3DisruptionResponse, Integer, Hash)>] V3DisruptionResponse data, response status code and response headers
    def disruptions_get_disruption_by_id_with_http_info(disruption_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisruptionsApi.disruptions_get_disruption_by_id ...'
      end
      # verify the required parameter 'disruption_id' is set
      if @api_client.config.client_side_validation && disruption_id.nil?
        fail ArgumentError, "Missing the required parameter 'disruption_id' when calling DisruptionsApi.disruptions_get_disruption_by_id"
      end
      # resource path
      local_var_path = '/v3/disruptions/{disruption_id}'.sub('{' + 'disruption_id' + '}', disruption_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3DisruptionResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisruptionsApi#disruptions_get_disruption_by_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # Get all disruption modes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3DisruptionModesResponse]
    def disruptions_get_disruption_modes(opts = {})
      data, _status_code, _headers = disruptions_get_disruption_modes_with_http_info(opts)
      data
    end

    # Get all disruption modes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3DisruptionModesResponse, Integer, Hash)>] V3DisruptionModesResponse data, response status code and response headers
    def disruptions_get_disruption_modes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisruptionsApi.disruptions_get_disruption_modes ...'
      end
      # resource path
      local_var_path = '/v3/disruptions/modes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3DisruptionModesResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisruptionsApi#disruptions_get_disruption_modes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # View all disruptions for a particular route
    # @param route_id Identifier of route; values returned by Routes API - v3/routes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :disruption_status Filter by status of disruption
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3DisruptionsResponse]
    def disruptions_get_disruptions_by_route(route_id, opts = {})
      data, _status_code, _headers = disruptions_get_disruptions_by_route_with_http_info(route_id, opts)
      data
    end

    # View all disruptions for a particular route
    # @param route_id Identifier of route; values returned by Routes API - v3/routes
    # @param [Hash] opts the optional parameters
    # @option opts [String] :disruption_status Filter by status of disruption
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3DisruptionsResponse, Integer, Hash)>] V3DisruptionsResponse data, response status code and response headers
    def disruptions_get_disruptions_by_route_with_http_info(route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisruptionsApi.disruptions_get_disruptions_by_route ...'
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling DisruptionsApi.disruptions_get_disruptions_by_route"
      end
      if @api_client.config.client_side_validation && opts[:'disruption_status'] && !['current', 'planned'].include?(opts[:'disruption_status'])
        fail ArgumentError, 'invalid value for "disruption_status", must be one of current, planned'
      end
      # resource path
      local_var_path = '/v3/disruptions/route/{route_id}'.sub('{' + 'route_id' + '}', route_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disruption_status'] = opts[:'disruption_status'] if !opts[:'disruption_status'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3DisruptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisruptionsApi#disruptions_get_disruptions_by_route\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # View all disruptions for a particular route and stop
    # @param route_id Identifier of route; values returned by Routes API - v3/routes
    # @param stop_id Identifier of stop; values returned by Stops API - v3/stops
    # @param [Hash] opts the optional parameters
    # @option opts [String] :disruption_status Filter by status of disruption
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3DisruptionsResponse]
    def disruptions_get_disruptions_by_route_and_stop(route_id, stop_id, opts = {})
      data, _status_code, _headers = disruptions_get_disruptions_by_route_and_stop_with_http_info(route_id, stop_id, opts)
      data
    end

    # View all disruptions for a particular route and stop
    # @param route_id Identifier of route; values returned by Routes API - v3/routes
    # @param stop_id Identifier of stop; values returned by Stops API - v3/stops
    # @param [Hash] opts the optional parameters
    # @option opts [String] :disruption_status Filter by status of disruption
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3DisruptionsResponse, Integer, Hash)>] V3DisruptionsResponse data, response status code and response headers
    def disruptions_get_disruptions_by_route_and_stop_with_http_info(route_id, stop_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisruptionsApi.disruptions_get_disruptions_by_route_and_stop ...'
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling DisruptionsApi.disruptions_get_disruptions_by_route_and_stop"
      end
      # verify the required parameter 'stop_id' is set
      if @api_client.config.client_side_validation && stop_id.nil?
        fail ArgumentError, "Missing the required parameter 'stop_id' when calling DisruptionsApi.disruptions_get_disruptions_by_route_and_stop"
      end
      if @api_client.config.client_side_validation && opts[:'disruption_status'] && !['current', 'planned'].include?(opts[:'disruption_status'])
        fail ArgumentError, 'invalid value for "disruption_status", must be one of current, planned'
      end
      # resource path
      local_var_path = '/v3/disruptions/route/{route_id}/stop/{stop_id}'.sub('{' + 'route_id' + '}', route_id.to_s).sub('{' + 'stop_id' + '}', stop_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disruption_status'] = opts[:'disruption_status'] if !opts[:'disruption_status'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3DisruptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisruptionsApi#disruptions_get_disruptions_by_route_and_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # View all disruptions for a particular stop
    # @param stop_id Identifier of stop; values returned by Stops API - v3/stops
    # @param [Hash] opts the optional parameters
    # @option opts [String] :disruption_status Filter by status of disruption
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3DisruptionsResponse]
    def disruptions_get_disruptions_by_stop(stop_id, opts = {})
      data, _status_code, _headers = disruptions_get_disruptions_by_stop_with_http_info(stop_id, opts)
      data
    end

    # View all disruptions for a particular stop
    # @param stop_id Identifier of stop; values returned by Stops API - v3/stops
    # @param [Hash] opts the optional parameters
    # @option opts [String] :disruption_status Filter by status of disruption
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3DisruptionsResponse, Integer, Hash)>] V3DisruptionsResponse data, response status code and response headers
    def disruptions_get_disruptions_by_stop_with_http_info(stop_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: DisruptionsApi.disruptions_get_disruptions_by_stop ...'
      end
      # verify the required parameter 'stop_id' is set
      if @api_client.config.client_side_validation && stop_id.nil?
        fail ArgumentError, "Missing the required parameter 'stop_id' when calling DisruptionsApi.disruptions_get_disruptions_by_stop"
      end
      if @api_client.config.client_side_validation && opts[:'disruption_status'] && !['current', 'planned'].include?(opts[:'disruption_status'])
        fail ArgumentError, 'invalid value for "disruption_status", must be one of current, planned'
      end
      # resource path
      local_var_path = '/v3/disruptions/stop/{stop_id}'.sub('{' + 'stop_id' + '}', stop_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'disruption_status'] = opts[:'disruption_status'] if !opts[:'disruption_status'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3DisruptionsResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: DisruptionsApi#disruptions_get_disruptions_by_stop\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
