=begin
#PTV Timetable API - Version 3

#The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.52
=end

module SwaggerClient
  class OutletsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # List all ticket outlets
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_results Maximum number of results returned (default &#x3D; 30)
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3OutletResponse]
    def outlets_get_all_outlets(opts = {})
      data, _status_code, _headers = outlets_get_all_outlets_with_http_info(opts)
      data
    end

    # List all ticket outlets
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :max_results Maximum number of results returned (default &#x3D; 30)
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3OutletResponse, Integer, Hash)>] V3OutletResponse data, response status code and response headers
    def outlets_get_all_outlets_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutletsApi.outlets_get_all_outlets ...'
      end
      # resource path
      local_var_path = '/v3/outlets'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3OutletResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutletsApi#outlets_get_all_outlets\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # List ticket outlets near a specific location
    # @param latitude Geographic coordinate of latitude
    # @param longitude Geographic coordinate of longitude
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :max_distance Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (default &#x3D; 300)
    # @option opts [Integer] :max_results Maximum number of results returned (default &#x3D; 30)
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3OutletGeolocationResponse]
    def outlets_get_outlets_by_geolocation(latitude, longitude, opts = {})
      data, _status_code, _headers = outlets_get_outlets_by_geolocation_with_http_info(latitude, longitude, opts)
      data
    end

    # List ticket outlets near a specific location
    # @param latitude Geographic coordinate of latitude
    # @param longitude Geographic coordinate of longitude
    # @param [Hash] opts the optional parameters
    # @option opts [Float] :max_distance Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (default &#x3D; 300)
    # @option opts [Integer] :max_results Maximum number of results returned (default &#x3D; 30)
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3OutletGeolocationResponse, Integer, Hash)>] V3OutletGeolocationResponse data, response status code and response headers
    def outlets_get_outlets_by_geolocation_with_http_info(latitude, longitude, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: OutletsApi.outlets_get_outlets_by_geolocation ...'
      end
      # verify the required parameter 'latitude' is set
      if @api_client.config.client_side_validation && latitude.nil?
        fail ArgumentError, "Missing the required parameter 'latitude' when calling OutletsApi.outlets_get_outlets_by_geolocation"
      end
      # verify the required parameter 'longitude' is set
      if @api_client.config.client_side_validation && longitude.nil?
        fail ArgumentError, "Missing the required parameter 'longitude' when calling OutletsApi.outlets_get_outlets_by_geolocation"
      end
      # resource path
      local_var_path = '/v3/outlets/location/{latitude},{longitude}'.sub('{' + 'latitude' + '}', latitude.to_s).sub('{' + 'longitude' + '}', longitude.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'max_distance'] = opts[:'max_distance'] if !opts[:'max_distance'].nil?
      query_params[:'max_results'] = opts[:'max_results'] if !opts[:'max_results'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3OutletGeolocationResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: OutletsApi#outlets_get_outlets_by_geolocation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
