=begin
#PTV Timetable API - Version 3

#The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  

OpenAPI spec version: v3

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 3.0.52
=end

module SwaggerClient
  class RoutesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # View route names and numbers for all routes
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :route_types Filter by route_type; values returned via RouteTypes API
    # @option opts [String] :route_name Filter by name  of route (accepts partial route name matches)
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3RouteResponse]
    def routes_one_or_more_routes(opts = {})
      data, _status_code, _headers = routes_one_or_more_routes_with_http_info(opts)
      data
    end

    # View route names and numbers for all routes
    # @param [Hash] opts the optional parameters
    # @option opts [Array<Integer>] :route_types Filter by route_type; values returned via RouteTypes API
    # @option opts [String] :route_name Filter by name  of route (accepts partial route name matches)
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3RouteResponse, Integer, Hash)>] V3RouteResponse data, response status code and response headers
    def routes_one_or_more_routes_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutesApi.routes_one_or_more_routes ...'
      end
      if @api_client.config.client_side_validation && opts[:'route_types'] && !opts[:'route_types'].all? { |item| ['0', '1', '2', '3', '4'].include?(item) }
        fail ArgumentError, 'invalid value for "route_types", must include one of 0, 1, 2, 3, 4'
      end
      # resource path
      local_var_path = '/v3/routes'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'route_types'] = @api_client.build_collection_param(opts[:'route_types'], :multi) if !opts[:'route_types'].nil?
      query_params[:'route_name'] = opts[:'route_name'] if !opts[:'route_name'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3RouteResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutesApi#routes_one_or_more_routes\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
    # View route name and number for specific route ID
    # @param route_id Identifier of route; values returned by Departures, Directions and Disruptions APIs
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :include_geopath Indicates kif geopath data will be returned (default &#x3D; false)
    # @option opts [DateTime] :geopath_utc Filter geopaths by date (ISO 8601 UTC format) (default &#x3D; current date)
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [V3RouteResponse]
    def routes_route_from_id(route_id, opts = {})
      data, _status_code, _headers = routes_route_from_id_with_http_info(route_id, opts)
      data
    end

    # View route name and number for specific route ID
    # @param route_id Identifier of route; values returned by Departures, Directions and Disruptions APIs
    # @param [Hash] opts the optional parameters
    # @option opts [BOOLEAN] :include_geopath Indicates kif geopath data will be returned (default &#x3D; false)
    # @option opts [DateTime] :geopath_utc Filter geopaths by date (ISO 8601 UTC format) (default &#x3D; current date)
    # @option opts [String] :token Please ignore
    # @option opts [String] :devid Your developer id
    # @option opts [String] :signature Authentication signature for request
    # @return [Array<(V3RouteResponse, Integer, Hash)>] V3RouteResponse data, response status code and response headers
    def routes_route_from_id_with_http_info(route_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: RoutesApi.routes_route_from_id ...'
      end
      # verify the required parameter 'route_id' is set
      if @api_client.config.client_side_validation && route_id.nil?
        fail ArgumentError, "Missing the required parameter 'route_id' when calling RoutesApi.routes_route_from_id"
      end
      # resource path
      local_var_path = '/v3/routes/{route_id}'.sub('{' + 'route_id' + '}', route_id.to_s)

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'include_geopath'] = opts[:'include_geopath'] if !opts[:'include_geopath'].nil?
      query_params[:'geopath_utc'] = opts[:'geopath_utc'] if !opts[:'geopath_utc'].nil?
      query_params[:'token'] = opts[:'token'] if !opts[:'token'].nil?
      query_params[:'devid'] = opts[:'devid'] if !opts[:'devid'].nil?
      query_params[:'signature'] = opts[:'signature'] if !opts[:'signature'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json', 'text/json', 'text/html'])

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:body] 

      return_type = opts[:return_type] || 'V3RouteResponse' 

      auth_names = opts[:auth_names] || []
      data, status_code, headers = @api_client.call_api(:GET, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type)

      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: RoutesApi#routes_route_from_id\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
