openapi: 3.0.1
info:
  title: PTV Timetable API - Version 3
  description: "The PTV Timetable API provides direct access to Public Transport Victoria's\
    \ public transport timetable data.\r\n\r\nThe API returns scheduled timetable,\
    \ route and stop data for all metropolitan and regional train, tram and bus services\
    \ in Victoria, including Night Network(Night Train and Night Tram data are included\
    \ in metropolitan train and tram services data, respectively, whereas Night Bus\
    \ is a separate route type).\r\n\r\nThe API also returns real-time data for metropolitan\
    \ train, tram and bus services (where this data is made available to PTV), as\
    \ well as disruption information, stop facility information, and access to myki\
    \ ticket outlet data.\r\n\r\nThis Swagger is for Version 3 of the PTV Timetable\
    \ API. By using this documentation you agree to comply with the licence and terms\
    \ of service.\r\n\r\nTrain timetable data is updated daily, while the remaining\
    \ data is updated weekly, taking into account any planned timetable changes (for\
    \ example, due to holidays or planned disruptions). The PTV timetable API is the\
    \ same API used by PTV for its apps. To access the most up to date data PTV has\
    \ (including real-time data) you must use the API dynamically.\r\n\r\nYou can\
    \ access the PTV Timetable API through a HTTP or HTTPS interface, as follows:\r\
    \n\r\n    base URL / version number / API name / query string\r\nThe base URL\
    \ is either:\r\n  *  http://timetableapi.ptv.vic.gov.au\r\nor\r\n  *  https://timetableapi.ptv.vic.gov.au\r\
    \n\r\nThe Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3\r\
    \n\r\nFrequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq\r\
    \n\r\nLinks to the following information are also provided on the PTV website\
    \ at http://ptv.vic.gov.au/ptv-timetable-api/\r\n* How to register for an API\
    \ key and calculate a signature\r\n* PTV Timetable API V2 to V3 Migration Guide\r\
    \n* PTV Timetable API Data Quality Statement\r\n\r\nAll information about how\
    \ to use the API is in this documentation. PTV cannot provide technical support\
    \ for the API.\r\n"
  termsOfService: See http://ptv.vic.gov.au/ptv-timetable-api/
  contact:
    name: Public Transport Victoria
    url: http://ptv.vic.gov.au/digital
  license:
    name: Creative Commons Attribution 4.0 International
    url: https://creativecommons.org/licenses/by/4.0/
  version: v3
servers:
- url: https://timetableapi.ptv.vic.gov.au/
- url: http://timetableapi.ptv.vic.gov.au/
paths:
  /v3/departures/route_type/{route_type}/stop/{stop_id}:
    get:
      tags:
      - Departures
      summary: View departures for all routes from a stop
      operationId: Departures_GetForStop
      parameters:
      - name: route_type
        in: path
        description: Number identifying transport mode; values returned via RouteTypes
          API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
      - name: stop_id
        in: path
        description: Identifier of stop; values returned by Stops API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: platform_numbers
        in: query
        description: Filter by platform number at stop
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
      - name: direction_id
        in: query
        description: "Filter by identifier of direction of travel; values returned\
          \ by Directions API - /v3/directions/route/{route_id}"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: gtfs
        in: query
        description: Indicates that stop_id parameter will accept "GTFS stop_id" data
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: date_utc
        in: query
        description: Filter by the date and time of the request (ISO 8601 UTC format)
          (default = current date and time)
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: max_results
        in: query
        description: Maximum number of results returned
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: include_cancelled
        in: query
        description: Indicates if cancelled services (if they exist) are returned
          (default = false) - metropolitan train only
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: look_backwards
        in: query
        description: Indicates if filtering runs (and their departures) to those that
          arrive at destination before date_utc (default = false). Requires max_results
          &gt; 0.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: expand
        in: query
        description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition,\
          \ VehicleDescriptor or None.\r\nRun must be expanded to receive VehiclePosition\
          \ and VehicleDescriptor information."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
            - VehicleDescriptor
            - VehiclePosition
            - None
      - name: include_geopath
        in: query
        description: Indicates if the route geopath should be returned
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Service departures from the specified stop for all routes of
            the specified route type; departures are timetabled and real-time (if
            applicable).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Departures
  /v3/departures/route_type/{route_type}/stop/{stop_id}/route/{route_id}:
    get:
      tags:
      - Departures
      summary: View departures for a specific route from a stop
      operationId: Departures_GetForStopAndRoute
      parameters:
      - name: route_type
        in: path
        description: Number identifying transport mode; values returned via RouteTypes
          API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
      - name: stop_id
        in: path
        description: Identifier of stop; values returned by Stops API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: route_id
        in: path
        description: Identifier of route; values returned by Routes API - v3/routes
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: direction_id
        in: query
        description: "Filter by identifier of direction of travel; values returned\
          \ by Directions API - /v3/directions/route/{route_id}"
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: gtfs
        in: query
        description: Indicates that stop_id parameter will accept "GTFS stop_id" data
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: date_utc
        in: query
        description: Filter by the date and time of the request (ISO 8601 UTC format)
          (default = current date and time)
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: max_results
        in: query
        description: Maximum number of results returned
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: include_cancelled
        in: query
        description: Indicates if cancelled services (if they exist) are returned
          (default = false) - metropolitan train only
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: look_backwards
        in: query
        description: Indicates if filtering runs (and their departures) to those that
          arrive at destination before date_utc (default = false). Requires max_results
          &gt; 0.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: expand
        in: query
        description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition,\
          \ VehicleDescriptor or None.\r\nRun must be expanded to receive VehiclePosition\
          \ and VehicleDescriptor information."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
            - VehicleDescriptor
            - VehiclePosition
            - None
      - name: include_geopath
        in: query
        description: Indicates if the route geopath should be returned
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Service departures from the specified stop for the specified
            route (and route type); departures are timetabled and real-time (if applicable).
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DeparturesResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Departures
  /v3/directions/route/{route_id}:
    get:
      tags:
      - Directions
      summary: View directions that a route travels in
      operationId: Directions_ForRoute
      parameters:
      - name: route_id
        in: path
        description: Identifier of route; values returned by Routes API - v3/routes
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: The directions that a specified route travels in.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Directions
  /v3/directions/{direction_id}:
    get:
      tags:
      - Directions
      summary: View all routes for a direction of travel
      operationId: Directions_ForDirection
      parameters:
      - name: direction_id
        in: path
        description: "Identifier of direction of travel; values returned by Directions\
          \ API - /v3/directions/route/{route_id}"
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All routes that travel in the specified direction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Directions
  /v3/directions/{direction_id}/route_type/{route_type}:
    get:
      tags:
      - Directions
      summary: View all routes of a particular type for a direction of travel
      operationId: Directions_ForDirectionAndType
      parameters:
      - name: direction_id
        in: path
        description: "Identifier of direction of travel; values returned by Directions\
          \ API - /v3/directions/route/{route_id}"
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: route_type
        in: path
        description: Number identifying transport mode; values returned via RouteTypes
          API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All routes of the specified route type that travel in the specified
            direction.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DirectionsResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Directions
  /v3/disruptions:
    get:
      tags:
      - Disruptions
      summary: View all disruptions for all route types
      operationId: Disruptions_GetAllDisruptions
      parameters:
      - name: route_types
        in: query
        description: Filter by route_type; values returned via RouteTypes API
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
      - name: disruption_modes
        in: query
        description: Filter by disruption_mode; values returned via v3/disruptions/modes
          API
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
            enum:
            - 1
            - 2
            - 3
            - 4
            - 5
            - 7
            - 8
            - 9
            - 10
            - 11
            - 12
            - 13
            - 14
            - 100
      - name: disruption_status
        in: query
        description: Filter by status of disruption
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - current
          - planned
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All disruption information for all route types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Disruptions
  /v3/disruptions/route/{route_id}:
    get:
      tags:
      - Disruptions
      summary: View all disruptions for a particular route
      operationId: Disruptions_GetDisruptionsByRoute
      parameters:
      - name: route_id
        in: path
        description: Identifier of route; values returned by Routes API - v3/routes
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: disruption_status
        in: query
        description: Filter by status of disruption
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - current
          - planned
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All disruption information (if any exists) for the specified
            route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Disruptions
  /v3/disruptions/route/{route_id}/stop/{stop_id}:
    get:
      tags:
      - Disruptions
      summary: View all disruptions for a particular route and stop
      operationId: Disruptions_GetDisruptionsByRouteAndStop
      parameters:
      - name: route_id
        in: path
        description: Identifier of route; values returned by Routes API - v3/routes
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: stop_id
        in: path
        description: Identifier of stop; values returned by Stops API - v3/stops
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: disruption_status
        in: query
        description: Filter by status of disruption
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - current
          - planned
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All disruption information (if any exists) for the specified
            route and stop.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Disruptions
  /v3/disruptions/stop/{stop_id}:
    get:
      tags:
      - Disruptions
      summary: View all disruptions for a particular stop
      operationId: Disruptions_GetDisruptionsByStop
      parameters:
      - name: stop_id
        in: path
        description: Identifier of stop; values returned by Stops API - v3/stops
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: disruption_status
        in: query
        description: Filter by status of disruption
        required: false
        style: form
        explode: true
        schema:
          type: string
          enum:
          - current
          - planned
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All disruption information (if any exists) for the specified
            stop.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionsResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Disruptions
  /v3/disruptions/{disruption_id}:
    get:
      tags:
      - Disruptions
      summary: View a specific disruption
      operationId: Disruptions_GetDisruptionById
      parameters:
      - name: disruption_id
        in: path
        description: "Identifier of disruption; values returned by Disruptions API\
          \ - /v3/disruptions OR /v3/disruptions/route/{route_id}"
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int64
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Disruption information for the specified disruption ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Disruptions
  /v3/disruptions/modes:
    get:
      tags:
      - Disruptions
      summary: Get all disruption modes
      operationId: Disruptions_GetDisruptionModes
      parameters:
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Disruption specific modes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionModesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.DisruptionModesResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.DisruptionModesResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Disruptions
  /v3/fare_estimate/min_zone/{minZone}/max_zone/{maxZone}:
    get:
      tags:
      - FareEstimate
      summary: Estimate a fare by zone
      operationId: FareEstimate_GetFareEstimateByZone
      parameters:
      - name: minZone
        in: path
        description: Minimum Zone travelled through ie. 1
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: maxZone
        in: path
        description: Maximum Zone travelled through id. 6
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: journey_touch_on_utc
        in: query
        description: JourneyTouchOnUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53).
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: journey_touch_off_utc
        in: query
        description: JourneyTouchOffUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53).
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: is_journey_in_free_tram_zone
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: travelled_route_types
        in: query
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Resultant set fare estimates
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.FareEstimateResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.FareEstimateResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.FareEstimateResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: FareEstimate
  /v3/outlets:
    get:
      tags:
      - Outlets
      summary: List all ticket outlets
      operationId: Outlets_GetAllOutlets
      parameters:
      - name: max_results
        in: query
        description: Maximum number of results returned (default = 30)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Ticket outlets.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.OutletResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.OutletResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.OutletResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Outlets
  /v3/outlets/location/{latitude},{longitude}:
    get:
      tags:
      - Outlets
      summary: List ticket outlets near a specific location
      operationId: Outlets_GetOutletsByGeolocation
      parameters:
      - name: latitude
        in: path
        description: Geographic coordinate of latitude
        required: true
        style: simple
        explode: false
        schema:
          type: number
          format: float
      - name: longitude
        in: path
        description: Geographic coordinate of longitude
        required: true
        style: simple
        explode: false
        schema:
          type: number
          format: float
      - name: max_distance
        in: query
        description: Filter by maximum distance (in metres) from location specified
          via latitude and longitude parameters (default = 300)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: max_results
        in: query
        description: Maximum number of results returned (default = 30)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Ticket outlets near the specified location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.OutletGeolocationResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.OutletGeolocationResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.OutletGeolocationResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Outlets
  /v3/pattern/run/{run_ref}/route_type/{route_type}:
    get:
      tags:
      - Patterns
      summary: View the stopping pattern for a specific trip/service run
      operationId: Patterns_GetPatternByRun
      parameters:
      - name: run_ref
        in: path
        description: "The run_ref is the identifier of a run as returned by the departures/*\
          \ and runs/* endpoints. WARNING, run_id is deprecated. Use run_ref instead."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: route_type
        in: path
        description: Number identifying transport mode; values returned via RouteTypes
          API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
      - name: expand
        in: query
        description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition,\
          \ VehicleDescriptor and None. Default is Disruption. Run must be expanded\
          \ to receive VehiclePosition and VehicleDescriptor information."
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
            - VehicleDescriptor
            - VehiclePosition
            - None
      - name: stop_id
        in: query
        description: Filter by stop_id; values returned by Stops API
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: date_utc
        in: query
        description: Filter by the date and time of the request (ISO 8601 UTC format)
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: include_skipped_stops
        in: query
        description: Include any skipped stops in a stopping pattern. Defaults to
          false.
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: include_geopath
        in: query
        description: Indicates if geopath data will be returned (default = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: "The stopping pattern of the specified run_ref and route type.\
            \ (NOTE: the departure sequence field should be used to sort departures\
            \ in chronological order, however it is not always N+1 or N-1 of the previous\
            \ or following departure. e.g 100, 200, 250, 300 instead of 1, 2, 3, 4)"
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.StoppingPattern'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.StoppingPattern'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.StoppingPattern'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Patterns
  /v3/routes:
    get:
      tags:
      - Routes
      summary: View route names and numbers for all routes
      operationId: Routes_OneOrMoreRoutes
      parameters:
      - name: route_types
        in: query
        description: Filter by route_type; values returned via RouteTypes API
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
      - name: route_name
        in: query
        description: Filter by name  of route (accepts partial route name matches)
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: Route names and numbers for all routes of all route types.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Routes
  /v3/routes/{route_id}:
    get:
      tags:
      - Routes
      summary: View route name and number for specific route ID
      operationId: Routes_RouteFromId
      parameters:
      - name: route_id
        in: path
        description: "Identifier of route; values returned by Departures, Directions\
          \ and Disruptions APIs"
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: include_geopath
        in: query
        description: Indicates kif geopath data will be returned (default = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: geopath_utc
        in: query
        description: Filter geopaths by date (ISO 8601 UTC format) (default = current
          date)
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: The route name and number for the specified route ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RouteResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Routes
  /v3/route_types:
    get:
      tags:
      - RouteTypes
      summary: View all route types and their names
      operationId: RouteTypes_GetRouteTypes
      parameters:
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All route types (i.e. identifiers of transport modes) and their
            names.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RouteTypesResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RouteTypesResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RouteTypesResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: RouteTypes
  /v3/runs/route/{route_id}:
    get:
      tags:
      - Runs
      summary: View all trip/service runs for a specific route ID
      operationId: Runs_ForRoute
      parameters:
      - name: route_id
        in: path
        description: Identifier of route; values returned by Routes API - v3/routes.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: expand
        in: query
        description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, VehiclePosition, VehicleDescriptor, or None. Default is\
          \ None."
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - All
            - VehicleDescriptor
            - VehiclePosition
            - None
      - name: date_utc
        in: query
        description: Date of the request. (optional - defaults to now)
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All trip/service run details for the specified route ID.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Runs
  /v3/runs/route/{route_id}/route_type/{route_type}:
    get:
      tags:
      - Runs
      summary: View all trip/service runs for a specific route ID and route type
      operationId: Runs_ForRouteAndRouteType
      parameters:
      - name: route_id
        in: path
        description: Identifier of route; values returned by Routes API - v3/routes.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: route_type
        in: path
        description: Number identifying transport mode; values returned via RouteTypes
          API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
      - name: expand
        in: query
        description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, VehiclePosition, VehicleDescriptor, or None. Default is\
          \ All."
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - All
            - VehicleDescriptor
            - VehiclePosition
            - None
      - name: date_utc
        in: query
        description: Date of the request. (optional - defaults to now)
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All trip/service run details for the specified route ID and
            route type.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Runs
  /v3/runs/{run_ref}:
    get:
      tags:
      - Runs
      summary: View all trip/service runs for a specific run_ref
      operationId: Runs_ForRun
      parameters:
      - name: run_ref
        in: path
        description: "The run_ref is the identifier of a run as returned by the departures/*\
          \ and runs/* endpoints. WARNING, run_id is deprecated. Use run_ref instead."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: expand
        in: query
        description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, VehiclePosition, VehicleDescriptor, or None. Default is\
          \ None."
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - All
            - VehicleDescriptor
            - VehiclePosition
            - None
      - name: date_utc
        in: query
        description: Date of the request. (optional - defaults to now)
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: include_geopath
        in: query
        description: Indicates if geopath data will be returned (default = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All trip/service run details for the specified run_ref.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RunsResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Runs
  /v3/runs/{run_ref}/route_type/{route_type}:
    get:
      tags:
      - Runs
      summary: View the trip/service run for a specific run_ref and route type
      operationId: Runs_ForRunAndRouteType
      parameters:
      - name: run_ref
        in: path
        description: "The run_ref is the identifier of a run as returned by the departures/*\
          \ and runs/* endpoints. WARNING, run_id is deprecated. Use run_ref instead."
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: route_type
        in: path
        description: Number identifying transport mode; values returned via RouteTypes
          API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
      - name: expand
        in: query
        description: "List of objects to be returned in full (i.e. expanded) - options\
          \ include: All, VehiclePosition, VehicleDescriptor, or None. Default is\
          \ None."
        required: true
        style: form
        explode: true
        schema:
          type: array
          items:
            type: string
            enum:
            - All
            - VehicleDescriptor
            - VehiclePosition
            - None
      - name: date_utc
        in: query
        description: Date of the request. (optional - defaults to now)
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: include_geopath
        in: query
        description: Indicates if geopath data will be returned (default = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: The trip/service run details for the run_ref and route type
            specified.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.RunResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.RunResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.RunResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Runs
  /v3/search/{search_term}:
    get:
      tags:
      - Search
      summary: "View stops, routes and myki ticket outlets that match the search term"
      operationId: Search_Search
      parameters:
      - name: search_term
        in: path
        description: "Search text (note: if search text is numeric and/or less than\
          \ 3 characters, the API will only return routes)"
        required: true
        style: simple
        explode: false
        schema:
          type: string
      - name: route_types
        in: query
        description: "Filter by route_type; values returned via RouteTypes API (note:\
          \ stops and routes are ordered by route_types specified)"
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
      - name: latitude
        in: query
        description: Filter by geographic coordinate of latitude
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: float
      - name: longitude
        in: query
        description: Filter by geographic coordinate of longitude
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: float
      - name: max_distance
        in: query
        description: Filter by maximum distance (in metres) from location specified
          via latitude and longitude parameters
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: float
      - name: include_addresses
        in: query
        description: Placeholder for future development; currently unavailable
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: include_outlets
        in: query
        description: Indicates if outlets will be returned in response (default =
          true)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: match_stop_by_suburb
        in: query
        description: Indicates whether to find stops by suburbs in the search term
          (default = true)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: match_route_by_suburb
        in: query
        description: Indicates whether to find routes by suburbs in the search term
          (default = true)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: match_stop_by_gtfs_stop_id
        in: query
        description: Indicates whether to search for stops according to a metlink
          stop ID (default = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: "Stops, routes and myki ticket outlets that contain the search\
            \ term (note: stops and routes are ordered by route_type by default)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.SearchResult'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.SearchResult'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.SearchResult'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Search
  /v3/stops/{stop_id}/route_type/{route_type}:
    get:
      tags:
      - Stops
      summary: View facilities at a specific stop (Metro and V/Line stations only)
      operationId: Stops_StopDetails
      parameters:
      - name: stop_id
        in: path
        description: Identifier of stop; values returned by Stops API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: route_type
        in: path
        description: Number identifying transport mode; values returned via RouteTypes
          API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
      - name: stop_location
        in: query
        description: Indicates if stop location information will be returned (default
          = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stop_amenities
        in: query
        description: Indicates if stop amenity information will be returned (default
          = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stop_accessibility
        in: query
        description: Indicates if stop accessibility information will be returned
          (default = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stop_contact
        in: query
        description: Indicates if stop contact information will be returned (default
          = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stop_ticket
        in: query
        description: Indicates if stop ticket information will be returned (default
          = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: gtfs
        in: query
        description: Incdicates whether the stop_id is a GTFS ID or not
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stop_staffing
        in: query
        description: Indicates if stop staffing information will be returned (default
          = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: stop_disruptions
        in: query
        description: Indicates if stop disruption information will be returned (default
          = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: "Stop location, amenity and accessibility facility information\
            \ for the specified stop (metropolitan and V/Line stations only)."
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.StopResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.StopResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.StopResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Stops
  /v3/stops/route/{route_id}/route_type/{route_type}:
    get:
      tags:
      - Stops
      summary: View all stops on a specific route
      operationId: Stops_StopsForRoute
      parameters:
      - name: route_id
        in: path
        description: Identifier of route; values returned by Routes API - v3/routes
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
      - name: route_type
        in: path
        description: Number identifying transport mode; values returned via RouteTypes
          API
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          format: int32
          enum:
          - 0
          - 1
          - 2
          - 3
          - 4
      - name: direction_id
        in: query
        description: "An optional direction; values returned by Directions API. When\
          \ this is set, stop sequence information is returned in the response."
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: stop_disruptions
        in: query
        description: Indicates if stop disruption information will be returned (default
          = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: include_geopath
        in: query
        description: Indicates if geopath data will be returned (default = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: geopath_utc
        in: query
        description: Filter geopaths by date (ISO 8601 UTC format) (default = current
          date)
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date-time
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All stops on the specified route.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.StopsOnRouteResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.StopsOnRouteResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.StopsOnRouteResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Stops
  /v3/stops/location/{latitude},{longitude}:
    get:
      tags:
      - Stops
      summary: View all stops near a specific location
      operationId: Stops_StopsByGeolocation
      parameters:
      - name: latitude
        in: path
        description: Geographic coordinate of latitude
        required: true
        style: simple
        explode: false
        schema:
          type: number
          format: float
      - name: longitude
        in: path
        description: Geographic coordinate of longitude
        required: true
        style: simple
        explode: false
        schema:
          type: number
          format: float
      - name: route_types
        in: query
        description: Filter by route_type; values returned via RouteTypes API
        required: false
        style: form
        explode: true
        schema:
          type: array
          items:
            type: integer
            format: int32
            enum:
            - 0
            - 1
            - 2
            - 3
            - 4
      - name: max_results
        in: query
        description: Maximum number of results returned (default = 30)
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
      - name: max_distance
        in: query
        description: Filter by maximum distance (in metres) from location specified
          via latitude and longitude parameters (default = 300)
        required: false
        style: form
        explode: true
        schema:
          type: number
          format: double
      - name: stop_disruptions
        in: query
        description: Indicates if stop disruption information will be returned (default
          = false)
        required: false
        style: form
        explode: true
        schema:
          type: boolean
      - name: token
        in: query
        description: Please ignore
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: devid
        in: query
        description: Your developer id
        required: false
        style: form
        explode: true
        schema:
          type: string
      - name: signature
        in: query
        description: Authentication signature for request
        required: false
        style: form
        explode: true
        schema:
          type: string
      responses:
        "200":
          description: All stops near the specified location.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.StopsByDistanceResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.StopsByDistanceResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.StopsByDistanceResponse'
        "400":
          description: Invalid Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
        "403":
          description: Access Denied
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/json:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
            text/html:
              schema:
                $ref: '#/components/schemas/V3.ErrorResponse'
      x-swagger-router-controller: Stops
components:
  schemas:
    V3.Status:
      type: object
      properties:
        version:
          type: string
          description: API Version number
        health:
          type: integer
          description: "API system health status (0=offline, 1=online)"
          format: int32
          enum:
          - 0
          - 1
      example:
        health: 6
        version: version
    V3.ErrorResponse:
      type: object
      properties:
        message:
          type: string
          description: Error message
        status:
          $ref: '#/components/schemas/V3.Status'
      description: An error response
    V3.DeparturesBroadParameters:
      type: object
      properties:
        platform_numbers:
          type: array
          description: Filter by platform number at stop
          items:
            type: integer
            format: int32
        direction_id:
          type: integer
          description: "Filter by identifier of direction of travel; values returned\
            \ by Directions API - /v3/directions/route/{route_id}"
          format: int32
        gtfs:
          type: boolean
          description: Indicates that stop_id parameter will accept "GTFS stop_id"
            data
        date_utc:
          type: string
          description: Filter by the date and time of the request (ISO 8601 UTC format)
            (default = current date and time)
          format: date-time
        max_results:
          type: integer
          description: Maximum number of results returned
          format: int32
        include_cancelled:
          type: boolean
          description: Indicates if cancelled services (if they exist) are returned
            (default = false) - metropolitan train only
        look_backwards:
          type: boolean
          description: Indicates if filtering runs (and their departures) to those
            that arrive at destination before date_utc (default = false). Requires
            max_results &gt; 0.
        expand:
          type: array
          description: "List of objects to be returned in full (i.e. expanded) - options\
            \ include: All, Stop, Route, Run, Direction, Disruption, VehiclePosition,\
            \ VehicleDescriptor or None.\r\nRun must be expanded to receive VehiclePosition\
            \ and VehicleDescriptor information."
          items:
            type: string
            enum:
            - All
            - Stop
            - Route
            - Run
            - Direction
            - Disruption
            - VehicleDescriptor
            - VehiclePosition
            - None
        include_geopath:
          type: boolean
          description: Indicates if the route geopath should be returned
    V3.DeparturesResponse:
      type: object
      properties:
        departures:
          type: array
          description: Timetabled and real-time service departures
          items:
            $ref: '#/components/schemas/V3.Departure'
        stops:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/V3.StopModel'
          description: "A train station, tram stop, bus stop, regional coach stop\
            \ or Night Bus stop"
        routes:
          type: object
          additionalProperties:
            type: object
            properties: {}
            example: {}
          description: "Train lines, tram routes, bus routes, regional coach routes,\
            \ Night Bus routes"
        runs:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/V3.Run'
          description: Individual trips/services of a route
        directions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/V3.Direction'
          description: Directions of travel of route
        disruptions:
          type: object
          additionalProperties:
            $ref: '#/components/schemas/V3.Disruption'
          description: Disruption information applicable to relevant routes or stops
        status:
          $ref: '#/components/schemas/V3.Status'
      example:
        routes:
          key: {}
        directions:
          key:
            direction_id: 9
            route_id: 6
            route_type: 3
            direction_name: direction_name
        disruptions:
          key:
            last_updated: 2000-01-23T04:56:07.000+00:00
            from_date: 2000-01-23T04:56:07.000+00:00
            disruption_type: disruption_type
            published_on: 2000-01-23T04:56:07.000+00:00
            description: description
            display_on_board: true
            title: title
            url: url
            routes:
            - route_id: 2
              route_name: route_name
              route_type: 1
              route_number: route_number
              route_gtfs_id: route_gtfs_id
              direction:
                service_time: service_time
                direction_id: 6
                direction_name: direction_name
                route_direction_id: 6
            - route_id: 2
              route_name: route_name
              route_type: 1
              route_number: route_number
              route_gtfs_id: route_gtfs_id
              direction:
                service_time: service_time
                direction_id: 6
                direction_name: direction_name
                route_direction_id: 6
            disruption_id: 6
            colour: colour
            to_date: 2000-01-23T04:56:07.000+00:00
            disruption_status: disruption_status
            stops:
            - stop_id: 5
              stop_name: stop_name
            - stop_id: 5
              stop_name: stop_name
            display_status: true
        stops:
          key:
            stop_longitude: 4.145608
            stop_sequence: 7
            stop_id: 9
            route_type: 3
            stop_landmark: stop_landmark
            stop_suburb: stop_suburb
            stop_distance: 7.0614014
            stop_name: stop_name
            stop_latitude: 2.027123
        departures:
        - scheduled_departure_utc: 2000-01-23T04:56:07.000+00:00
          direction_id: 5
          route_id: 6
          run_id: 1
          estimated_departure_utc: 2000-01-23T04:56:07.000+00:00
          departure_sequence: 2
          stop_id: 0
          run_ref: run_ref
          platform_number: platform_number
          flags: flags
          disruption_ids:
          - 5
          - 5
          at_platform: true
        - scheduled_departure_utc: 2000-01-23T04:56:07.000+00:00
          direction_id: 5
          route_id: 6
          run_id: 1
          estimated_departure_utc: 2000-01-23T04:56:07.000+00:00
          departure_sequence: 2
          stop_id: 0
          run_ref: run_ref
          platform_number: platform_number
          flags: flags
          disruption_ids:
          - 5
          - 5
          at_platform: true
        runs:
          key:
            run_id: 1
            route_id: 1
            final_stop_id: 6
            destination_name: destination_name
            vehicle_descriptor:
              low_floor: true
              air_conditioned: true
              supplier: supplier
              length: length
              description: description
              id: id
              operator: operator
            run_sequence: 1
            direction_id: 7
            run_ref: run_ref
            route_type: 1
            vehicle_position:
              easting: 9.3693102714106686335071572102606296539306640625
              bearing: 8.7620420127490010742121739895083010196685791015625
              datetime_utc: 2000-01-23T04:56:07.000+00:00
              latitude: 5.02500479152029466689555192715488374233245849609375
              supplier: supplier
              expiry_time: 2000-01-23T04:56:07.000+00:00
              northing: 6.683562403749608193948006373830139636993408203125
              longitude: 9.965781217890562260208753286860883235931396484375
              direction: direction
            express_stop_count: 4
            geopath:
            - {}
            - {}
            status: status
        status:
          health: 6
          version: version
    V3.Departure:
      type: object
      properties:
        stop_id:
          type: integer
          description: Stop identifier
          format: int32
        route_id:
          type: integer
          description: Route identifier
          format: int32
        run_id:
          type: integer
          description: Numeric trip/service run identifier. Defaults to -1 when run
            identifier is Alphanumeric
          format: int32
          readOnly: true
        run_ref:
          type: string
          description: Alphanumeric trip/service run identifier
        direction_id:
          type: integer
          description: Direction of travel identifier
          format: int32
        disruption_ids:
          type: array
          description: Disruption information identifier(s)
          items:
            type: integer
            format: int64
        scheduled_departure_utc:
          type: string
          description: Scheduled (i.e. timetabled) departure time and date in ISO
            8601 UTC format
          format: date-time
        estimated_departure_utc:
          type: string
          description: Real-time estimate of departure time and date in ISO 8601 UTC
            format
          format: date-time
        at_platform:
          type: boolean
          description: Indicates if the metropolitan train service is at the platform
            at the time of query; returns false for other modes
        platform_number:
          type: string
          description: Platform number at stop (metropolitan train only; returns null
            for other modes)
        flags:
          type: string
          description: "Flag indicating special condition for run (e.g. RR Reservations\
            \ Required, GC Guaranteed Connection, DOO Drop Off Only, PUO Pick Up Only,\
[...]
