/*
 * PTV Timetable API - Version 3
 * The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  
 *
 * OpenAPI spec version: v3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */

package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.V3DisruptionModesResponse;
import io.swagger.client.model.V3DisruptionResponse;
import io.swagger.client.model.V3DisruptionsResponse;
import io.swagger.client.model.V3ErrorResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class DisruptionsApi {
    private ApiClient apiClient;

    public DisruptionsApi() {
        this(Configuration.getDefaultApiClient());
    }

    public DisruptionsApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for disruptionsGetAllDisruptions
     * @param routeTypes Filter by route_type; values returned via RouteTypes API (optional)
     * @param disruptionModes Filter by disruption_mode; values returned via v3/disruptions/modes API (optional)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetAllDisruptionsCall(List<Integer> routeTypes, List<Integer> disruptionModes, String disruptionStatus, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v3/disruptions";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (routeTypes != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "route_types", routeTypes));
        if (disruptionModes != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "disruption_modes", disruptionModes));
        if (disruptionStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("disruption_status", disruptionStatus));
        if (token != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token", token));
        if (devid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("devid", devid));
        if (signature != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("signature", signature));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call disruptionsGetAllDisruptionsValidateBeforeCall(List<Integer> routeTypes, List<Integer> disruptionModes, String disruptionStatus, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = disruptionsGetAllDisruptionsCall(routeTypes, disruptionModes, disruptionStatus, token, devid, signature, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * View all disruptions for all route types
     * 
     * @param routeTypes Filter by route_type; values returned via RouteTypes API (optional)
     * @param disruptionModes Filter by disruption_mode; values returned via v3/disruptions/modes API (optional)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public V3DisruptionsResponse disruptionsGetAllDisruptions(List<Integer> routeTypes, List<Integer> disruptionModes, String disruptionStatus, String token, String devid, String signature) throws ApiException {
        ApiResponse<V3DisruptionsResponse> resp = disruptionsGetAllDisruptionsWithHttpInfo(routeTypes, disruptionModes, disruptionStatus, token, devid, signature);
        return resp.getData();
    }

    /**
     * View all disruptions for all route types
     * 
     * @param routeTypes Filter by route_type; values returned via RouteTypes API (optional)
     * @param disruptionModes Filter by disruption_mode; values returned via v3/disruptions/modes API (optional)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return ApiResponse&lt;V3DisruptionsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<V3DisruptionsResponse> disruptionsGetAllDisruptionsWithHttpInfo(List<Integer> routeTypes, List<Integer> disruptionModes, String disruptionStatus, String token, String devid, String signature) throws ApiException {
        com.squareup.okhttp.Call call = disruptionsGetAllDisruptionsValidateBeforeCall(routeTypes, disruptionModes, disruptionStatus, token, devid, signature, null, null);
        Type localVarReturnType = new TypeToken<V3DisruptionsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * View all disruptions for all route types (asynchronously)
     * 
     * @param routeTypes Filter by route_type; values returned via RouteTypes API (optional)
     * @param disruptionModes Filter by disruption_mode; values returned via v3/disruptions/modes API (optional)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetAllDisruptionsAsync(List<Integer> routeTypes, List<Integer> disruptionModes, String disruptionStatus, String token, String devid, String signature, final ApiCallback<V3DisruptionsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = disruptionsGetAllDisruptionsValidateBeforeCall(routeTypes, disruptionModes, disruptionStatus, token, devid, signature, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<V3DisruptionsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for disruptionsGetDisruptionById
     * @param disruptionId Identifier of disruption; values returned by Disruptions API - /v3/disruptions OR /v3/disruptions/route/{route_id} (required)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetDisruptionByIdCall(Long disruptionId, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v3/disruptions/{disruption_id}"
            .replaceAll("\\{" + "disruption_id" + "\\}", apiClient.escapeString(disruptionId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (token != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token", token));
        if (devid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("devid", devid));
        if (signature != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("signature", signature));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call disruptionsGetDisruptionByIdValidateBeforeCall(Long disruptionId, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'disruptionId' is set
        if (disruptionId == null) {
            throw new ApiException("Missing the required parameter 'disruptionId' when calling disruptionsGetDisruptionById(Async)");
        }
        
        com.squareup.okhttp.Call call = disruptionsGetDisruptionByIdCall(disruptionId, token, devid, signature, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * View a specific disruption
     * 
     * @param disruptionId Identifier of disruption; values returned by Disruptions API - /v3/disruptions OR /v3/disruptions/route/{route_id} (required)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public V3DisruptionResponse disruptionsGetDisruptionById(Long disruptionId, String token, String devid, String signature) throws ApiException {
        ApiResponse<V3DisruptionResponse> resp = disruptionsGetDisruptionByIdWithHttpInfo(disruptionId, token, devid, signature);
        return resp.getData();
    }

    /**
     * View a specific disruption
     * 
     * @param disruptionId Identifier of disruption; values returned by Disruptions API - /v3/disruptions OR /v3/disruptions/route/{route_id} (required)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return ApiResponse&lt;V3DisruptionResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<V3DisruptionResponse> disruptionsGetDisruptionByIdWithHttpInfo(Long disruptionId, String token, String devid, String signature) throws ApiException {
        com.squareup.okhttp.Call call = disruptionsGetDisruptionByIdValidateBeforeCall(disruptionId, token, devid, signature, null, null);
        Type localVarReturnType = new TypeToken<V3DisruptionResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * View a specific disruption (asynchronously)
     * 
     * @param disruptionId Identifier of disruption; values returned by Disruptions API - /v3/disruptions OR /v3/disruptions/route/{route_id} (required)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetDisruptionByIdAsync(Long disruptionId, String token, String devid, String signature, final ApiCallback<V3DisruptionResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = disruptionsGetDisruptionByIdValidateBeforeCall(disruptionId, token, devid, signature, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<V3DisruptionResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for disruptionsGetDisruptionModes
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetDisruptionModesCall(String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v3/disruptions/modes";

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (token != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token", token));
        if (devid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("devid", devid));
        if (signature != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("signature", signature));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call disruptionsGetDisruptionModesValidateBeforeCall(String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        com.squareup.okhttp.Call call = disruptionsGetDisruptionModesCall(token, devid, signature, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * Get all disruption modes
     * 
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionModesResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public V3DisruptionModesResponse disruptionsGetDisruptionModes(String token, String devid, String signature) throws ApiException {
        ApiResponse<V3DisruptionModesResponse> resp = disruptionsGetDisruptionModesWithHttpInfo(token, devid, signature);
        return resp.getData();
    }

    /**
     * Get all disruption modes
     * 
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return ApiResponse&lt;V3DisruptionModesResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<V3DisruptionModesResponse> disruptionsGetDisruptionModesWithHttpInfo(String token, String devid, String signature) throws ApiException {
        com.squareup.okhttp.Call call = disruptionsGetDisruptionModesValidateBeforeCall(token, devid, signature, null, null);
        Type localVarReturnType = new TypeToken<V3DisruptionModesResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Get all disruption modes (asynchronously)
     * 
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetDisruptionModesAsync(String token, String devid, String signature, final ApiCallback<V3DisruptionModesResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = disruptionsGetDisruptionModesValidateBeforeCall(token, devid, signature, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<V3DisruptionModesResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for disruptionsGetDisruptionsByRoute
     * @param routeId Identifier of route; values returned by Routes API - v3/routes (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetDisruptionsByRouteCall(Integer routeId, String disruptionStatus, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v3/disruptions/route/{route_id}"
            .replaceAll("\\{" + "route_id" + "\\}", apiClient.escapeString(routeId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (disruptionStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("disruption_status", disruptionStatus));
        if (token != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token", token));
        if (devid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("devid", devid));
        if (signature != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("signature", signature));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call disruptionsGetDisruptionsByRouteValidateBeforeCall(Integer routeId, String disruptionStatus, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'routeId' is set
        if (routeId == null) {
            throw new ApiException("Missing the required parameter 'routeId' when calling disruptionsGetDisruptionsByRoute(Async)");
        }
        
        com.squareup.okhttp.Call call = disruptionsGetDisruptionsByRouteCall(routeId, disruptionStatus, token, devid, signature, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * View all disruptions for a particular route
     * 
     * @param routeId Identifier of route; values returned by Routes API - v3/routes (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public V3DisruptionsResponse disruptionsGetDisruptionsByRoute(Integer routeId, String disruptionStatus, String token, String devid, String signature) throws ApiException {
        ApiResponse<V3DisruptionsResponse> resp = disruptionsGetDisruptionsByRouteWithHttpInfo(routeId, disruptionStatus, token, devid, signature);
        return resp.getData();
    }

    /**
     * View all disruptions for a particular route
     * 
     * @param routeId Identifier of route; values returned by Routes API - v3/routes (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return ApiResponse&lt;V3DisruptionsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<V3DisruptionsResponse> disruptionsGetDisruptionsByRouteWithHttpInfo(Integer routeId, String disruptionStatus, String token, String devid, String signature) throws ApiException {
        com.squareup.okhttp.Call call = disruptionsGetDisruptionsByRouteValidateBeforeCall(routeId, disruptionStatus, token, devid, signature, null, null);
        Type localVarReturnType = new TypeToken<V3DisruptionsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * View all disruptions for a particular route (asynchronously)
     * 
     * @param routeId Identifier of route; values returned by Routes API - v3/routes (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetDisruptionsByRouteAsync(Integer routeId, String disruptionStatus, String token, String devid, String signature, final ApiCallback<V3DisruptionsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = disruptionsGetDisruptionsByRouteValidateBeforeCall(routeId, disruptionStatus, token, devid, signature, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<V3DisruptionsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for disruptionsGetDisruptionsByRouteAndStop
     * @param routeId Identifier of route; values returned by Routes API - v3/routes (required)
     * @param stopId Identifier of stop; values returned by Stops API - v3/stops (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetDisruptionsByRouteAndStopCall(Integer routeId, Integer stopId, String disruptionStatus, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v3/disruptions/route/{route_id}/stop/{stop_id}"
            .replaceAll("\\{" + "route_id" + "\\}", apiClient.escapeString(routeId.toString()))
            .replaceAll("\\{" + "stop_id" + "\\}", apiClient.escapeString(stopId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (disruptionStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("disruption_status", disruptionStatus));
        if (token != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token", token));
        if (devid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("devid", devid));
        if (signature != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("signature", signature));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call disruptionsGetDisruptionsByRouteAndStopValidateBeforeCall(Integer routeId, Integer stopId, String disruptionStatus, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'routeId' is set
        if (routeId == null) {
            throw new ApiException("Missing the required parameter 'routeId' when calling disruptionsGetDisruptionsByRouteAndStop(Async)");
        }
        // verify the required parameter 'stopId' is set
        if (stopId == null) {
            throw new ApiException("Missing the required parameter 'stopId' when calling disruptionsGetDisruptionsByRouteAndStop(Async)");
        }
        
        com.squareup.okhttp.Call call = disruptionsGetDisruptionsByRouteAndStopCall(routeId, stopId, disruptionStatus, token, devid, signature, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * View all disruptions for a particular route and stop
     * 
     * @param routeId Identifier of route; values returned by Routes API - v3/routes (required)
     * @param stopId Identifier of stop; values returned by Stops API - v3/stops (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public V3DisruptionsResponse disruptionsGetDisruptionsByRouteAndStop(Integer routeId, Integer stopId, String disruptionStatus, String token, String devid, String signature) throws ApiException {
        ApiResponse<V3DisruptionsResponse> resp = disruptionsGetDisruptionsByRouteAndStopWithHttpInfo(routeId, stopId, disruptionStatus, token, devid, signature);
        return resp.getData();
    }

    /**
     * View all disruptions for a particular route and stop
     * 
     * @param routeId Identifier of route; values returned by Routes API - v3/routes (required)
     * @param stopId Identifier of stop; values returned by Stops API - v3/stops (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return ApiResponse&lt;V3DisruptionsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<V3DisruptionsResponse> disruptionsGetDisruptionsByRouteAndStopWithHttpInfo(Integer routeId, Integer stopId, String disruptionStatus, String token, String devid, String signature) throws ApiException {
        com.squareup.okhttp.Call call = disruptionsGetDisruptionsByRouteAndStopValidateBeforeCall(routeId, stopId, disruptionStatus, token, devid, signature, null, null);
        Type localVarReturnType = new TypeToken<V3DisruptionsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * View all disruptions for a particular route and stop (asynchronously)
     * 
     * @param routeId Identifier of route; values returned by Routes API - v3/routes (required)
     * @param stopId Identifier of stop; values returned by Stops API - v3/stops (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetDisruptionsByRouteAndStopAsync(Integer routeId, Integer stopId, String disruptionStatus, String token, String devid, String signature, final ApiCallback<V3DisruptionsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = disruptionsGetDisruptionsByRouteAndStopValidateBeforeCall(routeId, stopId, disruptionStatus, token, devid, signature, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<V3DisruptionsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
    /**
     * Build call for disruptionsGetDisruptionsByStop
     * @param stopId Identifier of stop; values returned by Stops API - v3/stops (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetDisruptionsByStopCall(Integer stopId, String disruptionStatus, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;
        
        // create path and map variables
        String localVarPath = "/v3/disruptions/stop/{stop_id}"
            .replaceAll("\\{" + "stop_id" + "\\}", apiClient.escapeString(stopId.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (disruptionStatus != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("disruption_status", disruptionStatus));
        if (token != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token", token));
        if (devid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("devid", devid));
        if (signature != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("signature", signature));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }
    
    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call disruptionsGetDisruptionsByStopValidateBeforeCall(Integer stopId, String disruptionStatus, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        // verify the required parameter 'stopId' is set
        if (stopId == null) {
            throw new ApiException("Missing the required parameter 'stopId' when calling disruptionsGetDisruptionsByStop(Async)");
        }
        
        com.squareup.okhttp.Call call = disruptionsGetDisruptionsByStopCall(stopId, disruptionStatus, token, devid, signature, progressListener, progressRequestListener);
        return call;

        
        
        
        
    }

    /**
     * View all disruptions for a particular stop
     * 
     * @param stopId Identifier of stop; values returned by Stops API - v3/stops (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3DisruptionsResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public V3DisruptionsResponse disruptionsGetDisruptionsByStop(Integer stopId, String disruptionStatus, String token, String devid, String signature) throws ApiException {
        ApiResponse<V3DisruptionsResponse> resp = disruptionsGetDisruptionsByStopWithHttpInfo(stopId, disruptionStatus, token, devid, signature);
        return resp.getData();
    }

    /**
     * View all disruptions for a particular stop
     * 
     * @param stopId Identifier of stop; values returned by Stops API - v3/stops (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return ApiResponse&lt;V3DisruptionsResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<V3DisruptionsResponse> disruptionsGetDisruptionsByStopWithHttpInfo(Integer stopId, String disruptionStatus, String token, String devid, String signature) throws ApiException {
        com.squareup.okhttp.Call call = disruptionsGetDisruptionsByStopValidateBeforeCall(stopId, disruptionStatus, token, devid, signature, null, null);
        Type localVarReturnType = new TypeToken<V3DisruptionsResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * View all disruptions for a particular stop (asynchronously)
     * 
     * @param stopId Identifier of stop; values returned by Stops API - v3/stops (required)
     * @param disruptionStatus Filter by status of disruption (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call disruptionsGetDisruptionsByStopAsync(Integer stopId, String disruptionStatus, String token, String devid, String signature, final ApiCallback<V3DisruptionsResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = disruptionsGetDisruptionsByStopValidateBeforeCall(stopId, disruptionStatus, token, devid, signature, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<V3DisruptionsResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
