/*
 * PTV Timetable API - Version 3
 * The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  
 *
 * OpenAPI spec version: v3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import org.threeten.bp.OffsetDateTime;
import io.swagger.client.model.V3ErrorResponse;
import io.swagger.client.model.V3FareEstimateResponse;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class FareEstimateApi {
    private ApiClient apiClient;

    public FareEstimateApi() {
        this(Configuration.getDefaultApiClient());
    }

    public FareEstimateApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for fareEstimateGetFareEstimateByZone
     * @param minZone Minimum Zone travelled through ie. 1 (required)
     * @param maxZone Maximum Zone travelled through id. 6 (required)
     * @param journeyTouchOnUtc JourneyTouchOnUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53). (optional)
     * @param journeyTouchOffUtc JourneyTouchOffUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53). (optional)
     * @param isJourneyInFreeTramZone  (optional)
     * @param travelledRouteTypes  (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call fareEstimateGetFareEstimateByZoneCall(Integer minZone, Integer maxZone, OffsetDateTime journeyTouchOnUtc, OffsetDateTime journeyTouchOffUtc, Boolean isJourneyInFreeTramZone, List<Integer> travelledRouteTypes, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v3/fare_estimate/min_zone/{minZone}/max_zone/{maxZone}"
            .replaceAll("\\{" + "minZone" + "\\}", apiClient.escapeString(minZone.toString()))
            .replaceAll("\\{" + "maxZone" + "\\}", apiClient.escapeString(maxZone.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (journeyTouchOnUtc != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("journey_touch_on_utc", journeyTouchOnUtc));
        if (journeyTouchOffUtc != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("journey_touch_off_utc", journeyTouchOffUtc));
        if (isJourneyInFreeTramZone != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("is_journey_in_free_tram_zone", isJourneyInFreeTramZone));
        if (travelledRouteTypes != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "travelled_route_types", travelledRouteTypes));
        if (token != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token", token));
        if (devid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("devid", devid));
        if (signature != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("signature", signature));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call fareEstimateGetFareEstimateByZoneValidateBeforeCall(Integer minZone, Integer maxZone, OffsetDateTime journeyTouchOnUtc, OffsetDateTime journeyTouchOffUtc, Boolean isJourneyInFreeTramZone, List<Integer> travelledRouteTypes, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'minZone' is set
        if (minZone == null) {
            throw new ApiException("Missing the required parameter 'minZone' when calling fareEstimateGetFareEstimateByZone(Async)");
        }
        
        // verify the required parameter 'maxZone' is set
        if (maxZone == null) {
            throw new ApiException("Missing the required parameter 'maxZone' when calling fareEstimateGetFareEstimateByZone(Async)");
        }
        

        com.squareup.okhttp.Call call = fareEstimateGetFareEstimateByZoneCall(minZone, maxZone, journeyTouchOnUtc, journeyTouchOffUtc, isJourneyInFreeTramZone, travelledRouteTypes, token, devid, signature, progressListener, progressRequestListener);
        return call;

    }

    /**
     * Estimate a fare by zone
     * 
     * @param minZone Minimum Zone travelled through ie. 1 (required)
     * @param maxZone Maximum Zone travelled through id. 6 (required)
     * @param journeyTouchOnUtc JourneyTouchOnUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53). (optional)
     * @param journeyTouchOffUtc JourneyTouchOffUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53). (optional)
     * @param isJourneyInFreeTramZone  (optional)
     * @param travelledRouteTypes  (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3FareEstimateResponse
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public V3FareEstimateResponse fareEstimateGetFareEstimateByZone(Integer minZone, Integer maxZone, OffsetDateTime journeyTouchOnUtc, OffsetDateTime journeyTouchOffUtc, Boolean isJourneyInFreeTramZone, List<Integer> travelledRouteTypes, String token, String devid, String signature) throws ApiException {
        ApiResponse<V3FareEstimateResponse> resp = fareEstimateGetFareEstimateByZoneWithHttpInfo(minZone, maxZone, journeyTouchOnUtc, journeyTouchOffUtc, isJourneyInFreeTramZone, travelledRouteTypes, token, devid, signature);
        return resp.getData();
    }

    /**
     * Estimate a fare by zone
     * 
     * @param minZone Minimum Zone travelled through ie. 1 (required)
     * @param maxZone Maximum Zone travelled through id. 6 (required)
     * @param journeyTouchOnUtc JourneyTouchOnUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53). (optional)
     * @param journeyTouchOffUtc JourneyTouchOffUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53). (optional)
     * @param isJourneyInFreeTramZone  (optional)
     * @param travelledRouteTypes  (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return ApiResponse&lt;V3FareEstimateResponse&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<V3FareEstimateResponse> fareEstimateGetFareEstimateByZoneWithHttpInfo(Integer minZone, Integer maxZone, OffsetDateTime journeyTouchOnUtc, OffsetDateTime journeyTouchOffUtc, Boolean isJourneyInFreeTramZone, List<Integer> travelledRouteTypes, String token, String devid, String signature) throws ApiException {
        com.squareup.okhttp.Call call = fareEstimateGetFareEstimateByZoneValidateBeforeCall(minZone, maxZone, journeyTouchOnUtc, journeyTouchOffUtc, isJourneyInFreeTramZone, travelledRouteTypes, token, devid, signature, null, null);
        Type localVarReturnType = new TypeToken<V3FareEstimateResponse>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * Estimate a fare by zone (asynchronously)
     * 
     * @param minZone Minimum Zone travelled through ie. 1 (required)
     * @param maxZone Maximum Zone travelled through id. 6 (required)
     * @param journeyTouchOnUtc JourneyTouchOnUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53). (optional)
     * @param journeyTouchOffUtc JourneyTouchOffUtc in format yyyy-M-d h:m (e.g 2016-5-31 16:53). (optional)
     * @param isJourneyInFreeTramZone  (optional)
     * @param travelledRouteTypes  (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call fareEstimateGetFareEstimateByZoneAsync(Integer minZone, Integer maxZone, OffsetDateTime journeyTouchOnUtc, OffsetDateTime journeyTouchOffUtc, Boolean isJourneyInFreeTramZone, List<Integer> travelledRouteTypes, String token, String devid, String signature, final ApiCallback<V3FareEstimateResponse> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = fareEstimateGetFareEstimateByZoneValidateBeforeCall(minZone, maxZone, journeyTouchOnUtc, journeyTouchOffUtc, isJourneyInFreeTramZone, travelledRouteTypes, token, devid, signature, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<V3FareEstimateResponse>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
