/*
 * PTV Timetable API - Version 3
 * The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  
 *
 * OpenAPI spec version: v3
 * 
 *
 * NOTE: This class is auto generated by the swagger code generator program.
 * https://github.com/swagger-api/swagger-codegen.git
 * Do not edit the class manually.
 */


package io.swagger.client.api;

import io.swagger.client.ApiCallback;
import io.swagger.client.ApiClient;
import io.swagger.client.ApiException;
import io.swagger.client.ApiResponse;
import io.swagger.client.Configuration;
import io.swagger.client.Pair;
import io.swagger.client.ProgressRequestBody;
import io.swagger.client.ProgressResponseBody;

import com.google.gson.reflect.TypeToken;

import java.io.IOException;


import io.swagger.client.model.V3ErrorResponse;
import io.swagger.client.model.V3SearchResult;

import java.lang.reflect.Type;
import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;

public class SearchApi {
    private ApiClient apiClient;

    public SearchApi() {
        this(Configuration.getDefaultApiClient());
    }

    public SearchApi(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    public ApiClient getApiClient() {
        return apiClient;
    }

    public void setApiClient(ApiClient apiClient) {
        this.apiClient = apiClient;
    }

    /**
     * Build call for searchSearch
     * @param searchTerm Search text (note: if search text is numeric and/or less than 3 characters, the API will only return routes) (required)
     * @param routeTypes Filter by route_type; values returned via RouteTypes API (note: stops and routes are ordered by route_types specified) (optional)
     * @param latitude Filter by geographic coordinate of latitude (optional)
     * @param longitude Filter by geographic coordinate of longitude (optional)
     * @param maxDistance Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (optional)
     * @param includeAddresses Placeholder for future development; currently unavailable (optional)
     * @param includeOutlets Indicates if outlets will be returned in response (default &#x3D; true) (optional)
     * @param matchStopBySuburb Indicates whether to find stops by suburbs in the search term (default &#x3D; true) (optional)
     * @param matchRouteBySuburb Indicates whether to find routes by suburbs in the search term (default &#x3D; true) (optional)
     * @param matchStopByGtfsStopId Indicates whether to search for stops according to a metlink stop ID (default &#x3D; false) (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param progressListener Progress listener
     * @param progressRequestListener Progress request listener
     * @return Call to execute
     * @throws ApiException If fail to serialize the request body object
     */
    public com.squareup.okhttp.Call searchSearchCall(String searchTerm, List<Integer> routeTypes, Float latitude, Float longitude, Float maxDistance, Boolean includeAddresses, Boolean includeOutlets, Boolean matchStopBySuburb, Boolean matchRouteBySuburb, Boolean matchStopByGtfsStopId, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        Object localVarPostBody = null;

        // create path and map variables
        String localVarPath = "/v3/search/{search_term}"
            .replaceAll("\\{" + "search_term" + "\\}", apiClient.escapeString(searchTerm.toString()));

        List<Pair> localVarQueryParams = new ArrayList<Pair>();
        List<Pair> localVarCollectionQueryParams = new ArrayList<Pair>();
        if (routeTypes != null)
        localVarCollectionQueryParams.addAll(apiClient.parameterToPairs("multi", "route_types", routeTypes));
        if (latitude != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("latitude", latitude));
        if (longitude != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("longitude", longitude));
        if (maxDistance != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("max_distance", maxDistance));
        if (includeAddresses != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("include_addresses", includeAddresses));
        if (includeOutlets != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("include_outlets", includeOutlets));
        if (matchStopBySuburb != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("match_stop_by_suburb", matchStopBySuburb));
        if (matchRouteBySuburb != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("match_route_by_suburb", matchRouteBySuburb));
        if (matchStopByGtfsStopId != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("match_stop_by_gtfs_stop_id", matchStopByGtfsStopId));
        if (token != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("token", token));
        if (devid != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("devid", devid));
        if (signature != null)
        localVarQueryParams.addAll(apiClient.parameterToPair("signature", signature));

        Map<String, String> localVarHeaderParams = new HashMap<String, String>();

        Map<String, Object> localVarFormParams = new HashMap<String, Object>();

        final String[] localVarAccepts = {
            "application/json", "text/json", "text/html"
        };
        final String localVarAccept = apiClient.selectHeaderAccept(localVarAccepts);
        if (localVarAccept != null) localVarHeaderParams.put("Accept", localVarAccept);

        final String[] localVarContentTypes = {
            
        };
        final String localVarContentType = apiClient.selectHeaderContentType(localVarContentTypes);
        localVarHeaderParams.put("Content-Type", localVarContentType);

        if(progressListener != null) {
            apiClient.getHttpClient().networkInterceptors().add(new com.squareup.okhttp.Interceptor() {
                @Override
                public com.squareup.okhttp.Response intercept(com.squareup.okhttp.Interceptor.Chain chain) throws IOException {
                    com.squareup.okhttp.Response originalResponse = chain.proceed(chain.request());
                    return originalResponse.newBuilder()
                    .body(new ProgressResponseBody(originalResponse.body(), progressListener))
                    .build();
                }
            });
        }

        String[] localVarAuthNames = new String[] {  };
        return apiClient.buildCall(localVarPath, "GET", localVarQueryParams, localVarCollectionQueryParams, localVarPostBody, localVarHeaderParams, localVarFormParams, localVarAuthNames, progressRequestListener);
    }

    @SuppressWarnings("rawtypes")
    private com.squareup.okhttp.Call searchSearchValidateBeforeCall(String searchTerm, List<Integer> routeTypes, Float latitude, Float longitude, Float maxDistance, Boolean includeAddresses, Boolean includeOutlets, Boolean matchStopBySuburb, Boolean matchRouteBySuburb, Boolean matchStopByGtfsStopId, String token, String devid, String signature, final ProgressResponseBody.ProgressListener progressListener, final ProgressRequestBody.ProgressRequestListener progressRequestListener) throws ApiException {
        
        // verify the required parameter 'searchTerm' is set
        if (searchTerm == null) {
            throw new ApiException("Missing the required parameter 'searchTerm' when calling searchSearch(Async)");
        }
        

        com.squareup.okhttp.Call call = searchSearchCall(searchTerm, routeTypes, latitude, longitude, maxDistance, includeAddresses, includeOutlets, matchStopBySuburb, matchRouteBySuburb, matchStopByGtfsStopId, token, devid, signature, progressListener, progressRequestListener);
        return call;

    }

    /**
     * View stops, routes and myki ticket outlets that match the search term
     * 
     * @param searchTerm Search text (note: if search text is numeric and/or less than 3 characters, the API will only return routes) (required)
     * @param routeTypes Filter by route_type; values returned via RouteTypes API (note: stops and routes are ordered by route_types specified) (optional)
     * @param latitude Filter by geographic coordinate of latitude (optional)
     * @param longitude Filter by geographic coordinate of longitude (optional)
     * @param maxDistance Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (optional)
     * @param includeAddresses Placeholder for future development; currently unavailable (optional)
     * @param includeOutlets Indicates if outlets will be returned in response (default &#x3D; true) (optional)
     * @param matchStopBySuburb Indicates whether to find stops by suburbs in the search term (default &#x3D; true) (optional)
     * @param matchRouteBySuburb Indicates whether to find routes by suburbs in the search term (default &#x3D; true) (optional)
     * @param matchStopByGtfsStopId Indicates whether to search for stops according to a metlink stop ID (default &#x3D; false) (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return V3SearchResult
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public V3SearchResult searchSearch(String searchTerm, List<Integer> routeTypes, Float latitude, Float longitude, Float maxDistance, Boolean includeAddresses, Boolean includeOutlets, Boolean matchStopBySuburb, Boolean matchRouteBySuburb, Boolean matchStopByGtfsStopId, String token, String devid, String signature) throws ApiException {
        ApiResponse<V3SearchResult> resp = searchSearchWithHttpInfo(searchTerm, routeTypes, latitude, longitude, maxDistance, includeAddresses, includeOutlets, matchStopBySuburb, matchRouteBySuburb, matchStopByGtfsStopId, token, devid, signature);
        return resp.getData();
    }

    /**
     * View stops, routes and myki ticket outlets that match the search term
     * 
     * @param searchTerm Search text (note: if search text is numeric and/or less than 3 characters, the API will only return routes) (required)
     * @param routeTypes Filter by route_type; values returned via RouteTypes API (note: stops and routes are ordered by route_types specified) (optional)
     * @param latitude Filter by geographic coordinate of latitude (optional)
     * @param longitude Filter by geographic coordinate of longitude (optional)
     * @param maxDistance Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (optional)
     * @param includeAddresses Placeholder for future development; currently unavailable (optional)
     * @param includeOutlets Indicates if outlets will be returned in response (default &#x3D; true) (optional)
     * @param matchStopBySuburb Indicates whether to find stops by suburbs in the search term (default &#x3D; true) (optional)
     * @param matchRouteBySuburb Indicates whether to find routes by suburbs in the search term (default &#x3D; true) (optional)
     * @param matchStopByGtfsStopId Indicates whether to search for stops according to a metlink stop ID (default &#x3D; false) (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @return ApiResponse&lt;V3SearchResult&gt;
     * @throws ApiException If fail to call the API, e.g. server error or cannot deserialize the response body
     */
    public ApiResponse<V3SearchResult> searchSearchWithHttpInfo(String searchTerm, List<Integer> routeTypes, Float latitude, Float longitude, Float maxDistance, Boolean includeAddresses, Boolean includeOutlets, Boolean matchStopBySuburb, Boolean matchRouteBySuburb, Boolean matchStopByGtfsStopId, String token, String devid, String signature) throws ApiException {
        com.squareup.okhttp.Call call = searchSearchValidateBeforeCall(searchTerm, routeTypes, latitude, longitude, maxDistance, includeAddresses, includeOutlets, matchStopBySuburb, matchRouteBySuburb, matchStopByGtfsStopId, token, devid, signature, null, null);
        Type localVarReturnType = new TypeToken<V3SearchResult>(){}.getType();
        return apiClient.execute(call, localVarReturnType);
    }

    /**
     * View stops, routes and myki ticket outlets that match the search term (asynchronously)
     * 
     * @param searchTerm Search text (note: if search text is numeric and/or less than 3 characters, the API will only return routes) (required)
     * @param routeTypes Filter by route_type; values returned via RouteTypes API (note: stops and routes are ordered by route_types specified) (optional)
     * @param latitude Filter by geographic coordinate of latitude (optional)
     * @param longitude Filter by geographic coordinate of longitude (optional)
     * @param maxDistance Filter by maximum distance (in metres) from location specified via latitude and longitude parameters (optional)
     * @param includeAddresses Placeholder for future development; currently unavailable (optional)
     * @param includeOutlets Indicates if outlets will be returned in response (default &#x3D; true) (optional)
     * @param matchStopBySuburb Indicates whether to find stops by suburbs in the search term (default &#x3D; true) (optional)
     * @param matchRouteBySuburb Indicates whether to find routes by suburbs in the search term (default &#x3D; true) (optional)
     * @param matchStopByGtfsStopId Indicates whether to search for stops according to a metlink stop ID (default &#x3D; false) (optional)
     * @param token Please ignore (optional)
     * @param devid Your developer id (optional)
     * @param signature Authentication signature for request (optional)
     * @param callback The callback to be executed when the API call finishes
     * @return The request call
     * @throws ApiException If fail to process the API call, e.g. serializing the request body object
     */
    public com.squareup.okhttp.Call searchSearchAsync(String searchTerm, List<Integer> routeTypes, Float latitude, Float longitude, Float maxDistance, Boolean includeAddresses, Boolean includeOutlets, Boolean matchStopBySuburb, Boolean matchRouteBySuburb, Boolean matchStopByGtfsStopId, String token, String devid, String signature, final ApiCallback<V3SearchResult> callback) throws ApiException {

        ProgressResponseBody.ProgressListener progressListener = null;
        ProgressRequestBody.ProgressRequestListener progressRequestListener = null;

        if (callback != null) {
            progressListener = new ProgressResponseBody.ProgressListener() {
                @Override
                public void update(long bytesRead, long contentLength, boolean done) {
                    callback.onDownloadProgress(bytesRead, contentLength, done);
                }
            };

            progressRequestListener = new ProgressRequestBody.ProgressRequestListener() {
                @Override
                public void onRequestProgress(long bytesWritten, long contentLength, boolean done) {
                    callback.onUploadProgress(bytesWritten, contentLength, done);
                }
            };
        }

        com.squareup.okhttp.Call call = searchSearchValidateBeforeCall(searchTerm, routeTypes, latitude, longitude, maxDistance, includeAddresses, includeOutlets, matchStopBySuburb, matchRouteBySuburb, matchStopByGtfsStopId, token, devid, signature, progressListener, progressRequestListener);
        Type localVarReturnType = new TypeToken<V3SearchResult>(){}.getType();
        apiClient.executeAsync(call, localVarReturnType, callback);
        return call;
    }
}
