
/*
 * PTV Timetable API - Version 3
 *
 * The PTV Timetable API provides direct access to Public Transport Victoria's public transport timetable data.    The API returns scheduled timetable, route and stop data for all metropolitan and regional train, tram and bus services in Victoria, including Night Network(Night Train and Night Tram data are included in metropolitan train and tram services data, respectively, whereas Night Bus is a separate route type).    The API also returns real-time data for metropolitan train, tram and bus services (where this data is made available to PTV), as well as disruption information, stop facility information, and access to myki ticket outlet data.    This Swagger is for Version 3 of the PTV Timetable API. By using this documentation you agree to comply with the licence and terms of service.    Train timetable data is updated daily, while the remaining data is updated weekly, taking into account any planned timetable changes (for example, due to holidays or planned disruptions). The PTV timetable API is the same API used by PTV for its apps. To access the most up to date data PTV has (including real-time data) you must use the API dynamically.    You can access the PTV Timetable API through a HTTP or HTTPS interface, as follows:        base URL / version number / API name / query string  The base URL is either:    *  http://timetableapi.ptv.vic.gov.au  or    *  https://timetableapi.ptv.vic.gov.au    The Swagger JSON file is available at http://timetableapi.ptv.vic.gov.au/swagger/docs/v3    Frequently asked questions are available on the PTV website at http://ptv.vic.gov.au/apifaq    Links to the following information are also provided on the PTV website at http://ptv.vic.gov.au/ptv-timetable-api/  * How to register for an API key and calculate a signature  * PTV Timetable API V2 to V3 Migration Guide  * PTV Timetable API Data Quality Statement    All information about how to use the API is in this documentation. PTV cannot provide technical support for the API.  
 *
 * API version: v3
 * Generated by: Swagger Codegen (https://github.com/swagger-api/swagger-codegen.git)
 */
package swagger

import (
	"context"
	"io/ioutil"
	"net/http"
	"net/url"
	"strings"
	"fmt"
	"github.com/antihax/optional"
)

// Linger please
var (
	_ context.Context
)

type SearchApiService service
/*
SearchApiService View stops, routes and myki ticket outlets that match the search term
 * @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param searchTerm Search text (note: if search text is numeric and/or less than 3 characters, the API will only return routes)
 * @param optional nil or *SearchApiSearchSearchOpts - Optional Parameters:
     * @param "RouteTypes" (optional.Interface of []int32) -  Filter by route_type; values returned via RouteTypes API (note: stops and routes are ordered by route_types specified)
     * @param "Latitude" (optional.Float32) -  Filter by geographic coordinate of latitude
     * @param "Longitude" (optional.Float32) -  Filter by geographic coordinate of longitude
     * @param "MaxDistance" (optional.Float32) -  Filter by maximum distance (in metres) from location specified via latitude and longitude parameters
     * @param "IncludeAddresses" (optional.Bool) -  Placeholder for future development; currently unavailable
     * @param "IncludeOutlets" (optional.Bool) -  Indicates if outlets will be returned in response (default &#x3D; true)
     * @param "MatchStopBySuburb" (optional.Bool) -  Indicates whether to find stops by suburbs in the search term (default &#x3D; true)
     * @param "MatchRouteBySuburb" (optional.Bool) -  Indicates whether to find routes by suburbs in the search term (default &#x3D; true)
     * @param "MatchStopByGtfsStopId" (optional.Bool) -  Indicates whether to search for stops according to a metlink stop ID (default &#x3D; false)
     * @param "Token" (optional.String) -  Please ignore
     * @param "Devid" (optional.String) -  Your developer id
     * @param "Signature" (optional.String) -  Authentication signature for request
@return V3SearchResult
*/

type SearchApiSearchSearchOpts struct {
    RouteTypes optional.Interface
    Latitude optional.Float32
    Longitude optional.Float32
    MaxDistance optional.Float32
    IncludeAddresses optional.Bool
    IncludeOutlets optional.Bool
    MatchStopBySuburb optional.Bool
    MatchRouteBySuburb optional.Bool
    MatchStopByGtfsStopId optional.Bool
    Token optional.String
    Devid optional.String
    Signature optional.String
}

func (a *SearchApiService) SearchSearch(ctx context.Context, searchTerm string, localVarOptionals *SearchApiSearchSearchOpts) (V3SearchResult, *http.Response, error) {
	var (
		localVarHttpMethod = strings.ToUpper("Get")
		localVarPostBody   interface{}
		localVarFileName   string
		localVarFileBytes  []byte
		localVarReturnValue V3SearchResult
	)

	// create path and map variables
	localVarPath := a.client.cfg.BasePath + "/v3/search/{search_term}"
	localVarPath = strings.Replace(localVarPath, "{"+"search_term"+"}", fmt.Sprintf("%v", searchTerm), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if localVarOptionals != nil && localVarOptionals.RouteTypes.IsSet() {
		localVarQueryParams.Add("route_types", parameterToString(localVarOptionals.RouteTypes.Value(), "multi"))
	}
	if localVarOptionals != nil && localVarOptionals.Latitude.IsSet() {
		localVarQueryParams.Add("latitude", parameterToString(localVarOptionals.Latitude.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Longitude.IsSet() {
		localVarQueryParams.Add("longitude", parameterToString(localVarOptionals.Longitude.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.MaxDistance.IsSet() {
		localVarQueryParams.Add("max_distance", parameterToString(localVarOptionals.MaxDistance.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.IncludeAddresses.IsSet() {
		localVarQueryParams.Add("include_addresses", parameterToString(localVarOptionals.IncludeAddresses.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.IncludeOutlets.IsSet() {
		localVarQueryParams.Add("include_outlets", parameterToString(localVarOptionals.IncludeOutlets.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.MatchStopBySuburb.IsSet() {
		localVarQueryParams.Add("match_stop_by_suburb", parameterToString(localVarOptionals.MatchStopBySuburb.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.MatchRouteBySuburb.IsSet() {
		localVarQueryParams.Add("match_route_by_suburb", parameterToString(localVarOptionals.MatchRouteBySuburb.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.MatchStopByGtfsStopId.IsSet() {
		localVarQueryParams.Add("match_stop_by_gtfs_stop_id", parameterToString(localVarOptionals.MatchStopByGtfsStopId.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Token.IsSet() {
		localVarQueryParams.Add("token", parameterToString(localVarOptionals.Token.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Devid.IsSet() {
		localVarQueryParams.Add("devid", parameterToString(localVarOptionals.Devid.Value(), ""))
	}
	if localVarOptionals != nil && localVarOptionals.Signature.IsSet() {
		localVarQueryParams.Add("signature", parameterToString(localVarOptionals.Signature.Value(), ""))
	}
	// to determine the Content-Type header
	localVarHttpContentTypes := []string{}

	// set Content-Type header
	localVarHttpContentType := selectHeaderContentType(localVarHttpContentTypes)
	if localVarHttpContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHttpContentType
	}

	// to determine the Accept header
	localVarHttpHeaderAccepts := []string{"application/json", "text/json", "text/html"}

	// set Accept header
	localVarHttpHeaderAccept := selectHeaderAccept(localVarHttpHeaderAccepts)
	if localVarHttpHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHttpHeaderAccept
	}
	r, err := a.client.prepareRequest(ctx, localVarPath, localVarHttpMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHttpResponse, err := a.client.callAPI(r)
	if err != nil || localVarHttpResponse == nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	localVarBody, err := ioutil.ReadAll(localVarHttpResponse.Body)
	localVarHttpResponse.Body.Close()
	if err != nil {
		return localVarReturnValue, localVarHttpResponse, err
	}

	if localVarHttpResponse.StatusCode < 300 {
		// If we succeed, return the data, otherwise pass on to decode error.
		err = a.client.decode(&localVarReturnValue, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
		if err == nil { 
			return localVarReturnValue, localVarHttpResponse, err
		}
	}

	if localVarHttpResponse.StatusCode >= 300 {
		newErr := GenericSwaggerError{
			body: localVarBody,
			error: localVarHttpResponse.Status,
		}
		if localVarHttpResponse.StatusCode == 200 {
			var v V3SearchResult
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 400 {
			var v V3ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		if localVarHttpResponse.StatusCode == 403 {
			var v V3ErrorResponse
			err = a.client.decode(&v, localVarBody, localVarHttpResponse.Header.Get("Content-Type"));
				if err != nil {
					newErr.error = err.Error()
					return localVarReturnValue, localVarHttpResponse, newErr
				}
				newErr.model = v
				return localVarReturnValue, localVarHttpResponse, newErr
		}
		return localVarReturnValue, localVarHttpResponse, newErr
	}

	return localVarReturnValue, localVarHttpResponse, nil
}
